.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    a {
        position: relative;
        margin-right: 40px;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: var(--app-registration-tab-active-underline);
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }
        &:hover:before {
            visibility: visible;
            width: 20px;
        }
    }
    .selected {
        &::before {
            width: 20px;
            visibility: visible;
            line-height: 1.5;
        }
    }
    .flexContainer {
        display: flex;
        align-items: center;
        margin-right: 5%;
        &::before{
           --app-registration-tab-active-underline: none;
        }
        .branding {
            display: inline;
            font-size: 24px;
            padding-top: 2.5rem;
            font-weight: normal;
            color: #ffffff;
            margin-left: 24px;
        }
    }
    .topNav {
        height: 32px;
        padding-left: 11px;
        justify-content: center;
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
        &Container {
            display: flex;
            flex-wrap: nowrap;
            width: 80%;
            a {
                margin-right: 40px;
                font-size: 12px;
                line-height: 1.5;
                color: #c2c2c2;

                &::before {
                    visibility: hidden;
                }
            }
        }
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 73px;
        background-color: var(--background);
        .headerContainer {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            width: 80%;
            .logoLink:hover:before {
                visibility: hidden;
            }
            .hamburger {
                width: 16px;
                height: 16px;
                background-image: url(/img/hamburger_menu.svg);
                background-repeat: no-repeat;
                padding: 1px;
                display: none;
            }
        }
    }
}

.hamburgerNavigation {
    box-shadow: rgb(0, 0, 0, 0.1) 0 16px 20px 0;
    display: inline-block;
    position: fixed;
    left: -260px;
    height: 100%;
    top: 48px;
    bottom: 0;
    width: var(--hamburger-menu-width);
    background-color: white;
    transition: left .4s ease-in;
    .flexContainer {
        flex-direction: column;
        padding: 24px 16px 24px 16px;
        ul > li a {
            font-weight: bold;
        }
        ul {
            margin-left: 0;
            width: 100%;
            section {
                width: inherit;
            }
            li {
                list-style: none;
                a {
                    height: 40px;
                    width: calc(100% - 22px);
                    color: black;
                    display: flex;
                    align-items: center;
                    padding-left: 22px;
                    border-radius: 0px 4px 4px 0px;
                    position: relative;
                    font-size: 14px;
                }
            }
            button {
                position: relative;
                font-weight: bold;
                font-size: 14px;
                width: calc(100% - 22px);
                height: 40px;
                color: black;
                display: flex;
                align-items: center;
                padding-left: 22px;
                border-radius: 0px 4px 4px 0px;
                background-color: transparent;
                border: none;
                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-image: url(/img/arrow_down.svg);
                    background-size: cover;
                    right: 16px;
                    transition: transform .25s;
                }
            }
        }
    }
}

[data-state*="responsive.laptop"],
[data-state~="responsive.screen4k"] {
    .hamburgerNavigation {
        visibility: hidden;
    }
}
[data-state*="responsive.mobile"] {
    .header {
        height: 48px;
        .headerContainer {
            width: 100%;
            height: 56px;
            padding-left: 16px;
            .logo {
                width: 84px;
            }
            .branding {
                font-size: 16px;
                margin-left: 8px;
            }
            .hamburger {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 12px;
                z-index: 101;
                cursor: pointer;
                transition: transform .25s;
            }
        }
    }
    &[data-state~="hamburger.hamburger_closed"] {
        .hamburgerNavigation {
            left: -260px;
        }
    }
    &[data-state~="hamburger.hamburger_open"] {
        .header .headerContainer .hamburger {
            transform: rotate(90deg);
            background-image: url(/img/close.svg);
        }
        .hamburgerNavigation {
            left: 0;
        }
        &[data-state*="documentation_closed"] {
            .hamburgerNavigation {
                section {
                    display: none;
                }
                ul button::after {
                    transform: rotate(-180deg);
                }
            }
        }
        &[data-state*="documentation_open"] {
            .hamburgerNavigation section {
                display: inline-block;
            }
        }
    }
    .topNav,
    .navbar {
        display: none;
    }
}
.logo {
    background-image: url(/img/deriv.svg);
    width: 180px;
    height: 73px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    [data-view~='laptop'] {
        .logo {
        width: 84px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
   } 
}
