.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--background);

    a {
        position: relative;
        margin-right: 40px;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--app-registration-tab-active-underline);
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }
        &:hover:before {
            visibility: visible;
            width: 20px;
        }
    }


    .selected {
        &::before {
            width: 20px;
            visibility: visible;
        }
    }

    .flexContainer {
        display: flex;
        align-items: center;
        &::before{
           --app-registration-tab-active-underline: var(--background);
        }
        .branding {
            display: inline;
            font-size: 24px;
            padding-top: 2.5rem;
            font-weight: normal;
            color: #ffffff;
            margin-left: 24px;
            @media (max-width: 992px) {
                font-size: 16px;
                margin-left: 8px;
            }
        }
    }
    .topNav {
        height: 32px;
        justify-content: center;
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);

        &Container {
            display: flex;
            flex-wrap: nowrap;
            width: 80%;

            a {
                margin-right: 40px;
                font-size: 12px;
                line-height: 1.5;
                color: #c2c2c2;
                text-decoration: none;
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 73px;
        background-color: var(--background);
        @media (max-width: 992px) {
            height: 48px;
        }

        .headerContainer {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            width: 80%;

            @media (max-width: 992px) {
                width: 100%;
                height: 56px;
                padding-left: 16px;
            }

            .hamburger {
                // add background image hamburger_icon.svg
                width: 16px;
                height: 16px;
                background-image: url(/img/hamburger_menu.svg);
                background-repeat: no-repeat;
                padding: 1px;
                display: none;
                @media (max-width: 992px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 12px;
                    z-index: 101;
                    cursor: pointer;
                }
            }

            .navbar {
                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
}

[data-state~="responsive.mobileS"],
[data-state~="responsive.mobileM"], 
[data-state~="responsive.mobileL"],
[data-state~="responsive.tablet"]  {
    .topNav {
        display: none;
    }
}
.logo{
    background-image: url(/img/deriv.svg);
    width: 180px;
    height: 73px;
    [data-view~='laptop']{
        .logo{
        width: 84px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
   } 
}
