.logoLink {
    &:hover:before {
        visibility: hidden !important;
    }
    .flexContainer {
        display: flex;
        align-items: center;
        margin-right: 5%;
        &::before {
            --red-01: none;
        }
    }
    .branding {
        display: inline;
        font-size: var(--text-size-m);
        padding-top: 4rem;
        font-weight: normal;
        color: #ffffff;
        margin-left: 24px;
    }
    .logo {
        background-image: url(/img/deriv.svg);
        width: 18rem;
        height: 7.3rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        [data-view~="desktopLaptopM"] {
            .logo {
            width: 8.4rem;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        }
    }
}

[data-state*="responsive.mobile"] {
    .logo {
        width: 8.4rem;
    }
    .branding {
        font-size: var(--text-size-s);
        margin-left: 8px;
    }
}