.lib-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lib-links .logo-and-link {
    padding: 10px 20px;
}

.library-go-to {
    display: flex;
    align-items: center;
}

.library-go-to label {
    cursor: pointer;
}

.library-chevron {
    background-image: url("/img/library-chevron.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 13px;
}

.logo-javascript {
    background-image: url("/img/js.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-python {
    background-image: url("/img/py.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}