.app-registration-login {
    display: none;
}

.app-registration-header .form-title {
    font-size: 28px;
}

.app-registration-header .form-title,
.app-registration-header .form-subtitle {
    text-align: center;
}

/* add delete.svg icon to app-remove-btn */
.app-btn {
    background-image: url("/img/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-origin: content-box;
    background-clip: content-box;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    width: 32px;
}

[data-state~="logged_in.update_mode"] .custom-text-input .api-token-input[readonly=true] {
    color: var(--app-registration-tab-tooltip-background);
    cursor: not-allowed;  
}

[data-state~="logged_in.update_mode"] .custom-text-input .api-token-input[readonly=true]~label {
    color: var(--app-registration-tab-tooltip-background) !important;
}

.app-btn span {
    visibility: hidden;
}

.delete-icon {
    background-image: url("/img/delete.svg");
}

.update-icon {
    background-image: url("/img/edit.svg");
}

/* make app-remove-btn disabled when data-state logged_in.manage_tab.loading */
[data-state~="logged_in.manage_tab.loading"] .app-remove-btn {
    pointer-events: none;
    cursor: not-allowed;
}

[data-state~="logged_out"] .app-registration-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-registration-logged-in {
    display: none;
}

.dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    border: none;
    max-width: 100vw;
    max-height: 100vh;
}


.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 433px;
    height: 383px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog-delete {
    width: 360px;
    height: 483px;
}

.dialog-update {
    width: 360px;
    height: 700px;
}

.dialog-update-input {
    padding: 20px;
}

.dialog-update-scopes {
    padding: 20px;
}

.dialog-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dialog-header img {
    padding: 26px 18px;
    cursor: pointer;
}

.dialog-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dialog-body-delete {
    align-items: center;
};

.dialog-body .dialog-body-delete img {
    margin-bottom: 24px;
}

.dialog-body .dialog-body-delete h3 {
    margin-bottom: 8px
}

.dialog-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}


/* red "No, keep it" button with white text */
.dialog-btn-cancel {
    background-color: var(--app-registration-tab-active-underline);
    color: white;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 10px 16px 10px 16px;
    margin-right: 24px;
}

.dialog-btn-cancel:hover {
    background-color: #ff5560;
}

/* white "Yes, delete" button with black text */
.dialog-btn-submit {
    background-color: white;
    color: black;
    border: 1px solid #999999;
    height: 40px;
    border-radius: 4px;
    padding: 10px 16px 10px 16px;
}

    /* add hover color to "Yes, delete" */
.dialog-btn-submit:hover {
    background-color: #e4e2e2;
}

.dialog-success {
    width: 100px;
    height: 100px;
}

.dialog-question {
    padding: 20px;
    text-align: center;
}

[data-state~="logged_in"] .app-registration-logged-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

[data-state~="logged_in.register_tab.unfolded_form"] .expandable-form {
    display: flex;
    flex-direction: column;
}

[data-state~="logged_in.register_tab.folded_form"] .expandable-form {
    display: none;
}

.expandable-form {
    display: none;
}

.expand-form {
    width: 100%;
    left: 0;
    display: flex;
    padding: 40px 0 10px;
}

.expand-form-checkbox {
    margin-right: 16px;
    transform: scale(1.23);
    padding: 9px;
    top: 1px;
    position: relative;
}

.form-header-container {
    display: flex;
    padding: 10px 0;
}

.form-subtitle {
    font-weight: normal;
    line-height: 24px;
}

.info-icon-tooltip {
    position: relative;
}

.info-icon {
    position: relative;
    top: 2px !important;
}

.info-icon:hover .tooltip {
    background-color: var(--app-registration-tab-tooltip-background);
    border-radius: 4px;
    color: var(--app-registration-tab-active-font);
    font-size: 12px;
    left: 50%;
    line-height: 18px;
    padding: 8px;
    position: absolute;
    display: inline-block;
    width: 140px;
    transform: translate(-19%, calc(-100% - 10px));
}

.info-icon:hover .tooltip:hover {
    display: inline-block;
}

.info-icon:hover .tooltip:before {
    content: ' ';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--app-registration-tab-tooltip-background);
    left: 30px;
    transform: translateX(-50%);
    position: absolute;
    bottom: -5px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.login-image {
    margin-top: 95px;
    margin-bottom: 16px;
}

.login-title {
    font-size: 16px;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

[data-state~="logged_in.manage_tab"] .manage-apps {
    display: inline-block;
    overflow: auto;
    width: 100%;
    max-height: 500px;
}

.manage-apps {
    display: none;
}

.manage-apps table {
    border-spacing: 0;
    width: calc(100% - 125px);
}

.manage-apps thead {
    background-color: var(--app-registration-tab-light-grey);
    height: 50px;
    text-align: left;
}

.manage-apps th,
.manage-apps td {
    padding: 16px;
    min-width: 120px;
}

/* Set width of last two table columns to 40px */
.manage-apps td:last-child,
.manage-apps th:last-child {
    min-width: 1px !important;
    width: 1px !important;
    padding: 0;
    white-space: nowrap;
}

/* set padding-left of first column to 32px */
.manage-apps td:first-child,
.manage-apps th:first-child {
    padding-left: 32px;
}

/* set width of last table column to 20px */
.manage-apps tbody tr:nth-child(even) {
    background-color: var(--app-registration-tab-table-row-grey);
}

.no-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(320px - 32px);
    position: relative;
    margin: 0 auto;
}

.no-apps-icon {
    margin-top: 16px;
    margin-bottom: 20px;
}

.no-apps-text {
    text-align: center;
}

.no-apps-wrapper {
    display: none;
}

[data-state~="logged_in.manage_tab.loadingApps.empty"] .no-apps-wrapper {
    display: inline-block;
}

.no-apps-wrapper {
    width: calc(100% - 32px);
    position: absolute;
    height: auto;
}

.register-app {
    width: 100%;
    display: none;
}

[data-state~="logged_in.register_tab"] .register-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registered-apps-tabs {
    display: flex;
    padding: 40px 0;
}

.registered-apps-tabs button {
    border: none;
    background-color: transparent;
    color: var(--app-registration-tab-secondary);
    border-bottom: 1px solid var(--app-registration-tab-secondary);
    padding: 10px 20px;
}

[data-state~="logged_in.manage_tab"] .manage-button,
[data-state~="logged_in.register_tab"] .register-button {
    font-weight: bold;
    color: var(--app-registration-tab-active-font);
    border-bottom: 3px solid var(--app-registration-tab-active-underline);
}

[data-state~="logged_in.update_mode"] .expandable-form .register-app-button span {
    visibility: hidden;
    position: relative;
}

[data-state~="logged_in.update_mode"] .expandable-form .register-app-button span:after {
    visibility: visible;
    content: "Update application";
    position: absolute;
    left: 0;
    right: 0;
}

[data-state~="logged_in.update_mode"] .register-button {
    pointer-events: none;
    visibility: hidden;
    position: relative;
}

[data-state~="logged_in.update_mode"] .register-button::before {
    visibility: visible;
    content: "Update your application";
    font-weight: bold;
    color: var(--app-registration-tab-active-font);
    border-bottom: 3px solid var(--app-registration-tab-active-underline);
    position: absolute;
    padding: 10px 0;
    width: 100%;
    right: 0;
    top: 0;
    bottom: -1px;
}

[data-state~="logged_in.update_mode"] .register-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[data-state~="logged_in.update_mode"] .expandable-form {
    display: flex;
    flex-direction: column;
}

.expandable-form .register-app-button {
    padding: 12px 32.5px;
}

.register-form-header {
    font-size: 16px;
    margin-right: 5px;
    line-height: 20px
}

.register-app fieldset input[type="text"] {
    padding: 0;
    width: 100%;
    text-indent: 12px;
    margin-bottom: 0 !important;
}

/* make registration-dialog display none */
.registration-dialog {
    display: none;
}

/*  display register-app when [data-state] success */
[data-state~="logged_in.register_tab.unfolded_form.submitting_registration.registration_success"] .registration-dialog {
    display: flex;
}


.register-app-form {
    width: 100%;
    overflow: hidden;
}

.register-login-button {
    cursor: pointer;
}

.scopes {
    margin-top: 40px;
}

.skeleton {
    background-image: linear-gradient(to right, white, #E6E6E6, #E6E6E6);
    padding: 10px;
    height: 20px;
    margin-bottom: 16px;
    width: 100px;
    position: relative;
}

.skeleton:before {
    content: ' ';
    background-image: linear-gradient(to right, #E6E6E6, #E6E6E6, white);
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: loading-skeleton;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes loading-skeleton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.terms-of-conditions-register {
    margin-top: 35px;
}

.tooltip {
    display: none;
}

.tooltip:after {
    background: transparent;
    height: 15px;
    content: ' ';
    position: absolute;
    left: 0;
    width: inherit;
    bottom: -15px;
    padding: 0 8px;
}

.tooltip-link {
    font-size: 12px;
}

.app-registration-signout {
    display: none;
}

@media screen and (min-width: 992px) {
    .app-registration-login {
        padding-left: 158px;
        height: 614px;
    }

    .app-registration-header .form-title {
        font-size: 48px;
    }

    .app-registration-header .form-subtitle {
        font-size: 20px;
    }

    .dialog-delete {
        width: 433px;
        height: 383px;
    }

    .dialog-update {
        width: 433px;
        height: 640px
    }

    .dialog-warning {
        margin-bottom: 24px;
    }

    .info-icon:hover .tooltip:before {
        left: 50%;
    }

    .info-icon:hover .tooltip {
        width: 280px;
        transform: translate(-50%, calc(-100% - 10px));
    }

    .login-title {
        font-size: 20px;
        margin-bottom: 24px;
    }


    [data-state~="logged_in.manage_tab"] .manage-apps {
        margin-left: 125px;
    }

    .no-apps-wrapper {
        width: calc(100% - 125px);
        position: relative;
    }

    .no-apps {
        padding-top: 72px;
        margin: 0 auto;
        position: relative;
    }

    .no-apps-text {
        width: 390px;
    }

    .expandable-form .register-app-button {
        padding: 12px 20px;
    }

    .register-form-header {
        font-size: 16px;
    }

    [data-state~="logged_in"] .app-registration-signout {
        display: block;
        position: fixed;
        right: 174px;
        top: 43px;
        z-index: 100;
        color: var(--app-registration-text-submit);
        background-color: transparent;
    }
}