.navigator {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--gray-06);
    right: 40px;
    z-index: 10;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0 auto 30px;
    .navigatorContent {
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        &.opened {
            height: 370px;
        }
        .navigatorLink {
            line-height: 26px;
            font-size: 12px;
            color: var(--gray-05);
            padding: 4px 0;
            &:hover {
                background-color: var(--gray-01);
            }
            &.navigatorSubLink {
                margin-left: 0.5rem;
            }
        }
    }
    .navigatorTitleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .navigatorTitle {
            font-size: 18px;
            margin: 0;
            &.bold {
                font-weight: 700;
            }
        }
        .arrow {
            background-size: 22px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            background-image: url(/img/arrow_up.svg);
            transform: rotate(-180deg);
            transition: transform 0.2s;
            width: 22px;
            height: 22px;
            &.down {
                transform: rotate(0deg);
            }
        }
    }
}

[data-state~="responsive.mobileTablet"] {
    .navigator {
        width: 650px;
    }
}

[data-state*="responsive.desktop"] {
    .navigator {
        max-width: 270px;
        width: 270px;
        position: fixed;
    }
}