.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: var(--black-01);
  a {
    position: relative;
    margin-right: 4rem;
    font-size: var(--text-size-s);
    line-height: 1.5;
    color: var(--white);
    &:empty {
      display: none !important;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: var(--red-01);
      visibility: hidden;
      transition: all 0.2s ease-in-out;
    }
    &:hover:before {
      visibility: visible;
      width: 2rem;
    }
  }
  .selected {
    &::before {
      width: 2rem;
      visibility: visible;
      line-height: var(--text-lh-m);
    }
  }
  .flexContainer {
    display: flex;
    align-items: center;
    margin-right: 5%;
    &::before {
      --red-01: none;
    }
  }
  .topNav {
    height: 3.2rem;
    padding-left: 1.1rem;
    justify-content: var(--text-align-center);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    z-index: 1;
    &Container {
      display: flex;
      flex-wrap: nowrap;
      width: 80%;
      a {
        margin-right: 40px;
        font-size: var(--text-size-xxs);
        line-height: var(--text-lh-m);
        color: #c2c2c2;

        &::before {
          visibility: hidden;
        }
      }
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.3rem;
    background-color: var(--black-01);
    .headerContainer {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 80%;
      .hamburger {
        width: 1.6rem;
        height: 1.6rem;
        background-image: url(/img/hamburger_menu.svg);
        background-repeat: no-repeat;
        padding: 0.1rem;
        display: none;
      }
    }
  }
}

.hamburgerNavigation {
  overflow-y: auto;
  box-shadow: rgb(0, 0, 0, 0.1) 0 16px 20px 0;
  display: inline-block;
  position: fixed;
  left: -26rem;
  height: 100%;
  top: 4.8rem;
  bottom: 0;
  width: var(--hamburger-menu-width);
  background-color: var(--white);
  transition: left 0.4s ease-in;
  .flexContainer {
    flex-direction: column;
    padding: 2.4rem 1.6rem 5.4rem 1.6rem;
    ul {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      section {
        width: inherit;
      }
      li {
        list-style: none;
        a {
          padding-left: 1.6rem;
          height: 4rem;
          width: calc(100% - 2.2rem);
          color: var(--text-01);
          display: flex;
          align-items: var(--text-align-center);
          border-radius: 0px 4px 4px 0px;
          position: relative;
          font-size: var(--text-size-xs);
        }
      }
      button {
        position: relative;
        font-weight: bold;
        font-size: var(--text-size-xs);
        width: calc(100% - 2.2rem);
        height: 4rem;
        color: black;
        display: flex;
        align-items: center;
        padding-left: 2.2rem;
        border-radius: 0px 4px 4px 0px;
        background-color: transparent;
        border: none;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          background-image: url(/img/arrow_down.svg);
          background-size: cover;
          right: 1.6rem;
          transition: transform 0.25s;
        }
      }
    }
  }
}

[data-state*="responsive.desktop"] {
  .hamburgerNavigation {
    visibility: hidden;
  }
}
[data-state*="responsive.mobile"] {
  .header {
    height: 48px;
    .headerContainer {
      width: 100%;
      height: 56px;
      padding-left: 16px;
      .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        z-index: 101;
        cursor: pointer;
        transition: transform 0.25s;
      }
    }
  }
  &[data-state~="hamburger.hamburger_closed"] {
    .hamburgerNavigation {
      left: -260px;
    }
  }
  &[data-state~="hamburger.hamburger_open"] {
    .header .headerContainer .hamburger {
      transform: rotate(90deg);
      background-image: url(/img/close.svg);
    }
    .hamburgerNavigation {
      left: 0;
    }
    &[data-state*="documentation_closed"] {
      .hamburgerNavigation {
        section {
          display: none;
        }
        ul button::after {
          transform: rotate(-180deg);
        }
      }
    }
    &[data-state*="documentation_open"] {
      .hamburgerNavigation section {
        display: inline-block;
      }
    }
  }
  .topNav,
  .navbar {
    display: none;
  }
}

[data-state*="responsive.mobile"] {
  .nav {
    a {
      padding-left: 16px;
      height: 40px;
      width: calc(100% - 22px);
      color: var(--text-01);
      display: flex;
      align-items: center;
      border-radius: 0px 4px 4px 0px;
      position: relative;
      font-size: 14px;
    }
    .selected {
      font-weight: bold;
      &::before {
        width: 20px;
        visibility: visible;
        line-height: 1.5;
        height: 100%;
        bottom: 0;
        width: 4px;
        border-radius: 4px 0 0 4px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--gray-15);
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
