.apiFeatures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;

    .apiFeaturesDescription,
    .apiFeaturesImage {
        min-width: 32rem;
        margin-bottom: 4rem;
    }

    .apiFeaturesDescription {
        width: 48.6rem;
        margin-left: 4rem;
        padding: 0 1rem;
        box-sizing: border-box;

        h2 {
            font-size: var(--text-size-xl);
        }

        p {
            font-size: var(--text-size-s);
            line-height: 3.2rem;
        }

        ul {
            margin-left: 0;

            li {
                display: flex;
                align-items: var(--text-align-center);
                list-style-type: none;

                .checklistIcon {
                    background-image: url(/img/checklist-icon-red.svg);
                    background-repeat: no-repeat;
                    background-position: var(--text-align-center);
                    margin-right: 1rem;
                    margin-bottom: 0;
                    width: 2.4rem;
                    height: 2.4rem;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .apiFeaturesImage {
        aspect-ratio: 3 / 2;
        background-image: url(/img/api-featutes.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 60rem;
        margin-top: 1rem;
    }
}

[data-state~="responsive.mobileS"],
[data-state~="responsive.mobileM"] {
    .apiFeatures .apiFeaturesDescription {
        margin: 0;

        p {
            font-size: var(--text-size-s);
        }

        h3 {
            text-align: var(--text-align-center);
            font-size: 2.2rem;
        }
    }
}