.json-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: var(--text-align-center);
  justify-content: var(--text-align-center);
  margin: 2.6rem 0 4rem;

  .btn-reset button {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    margin-right: 0.8rem;
    font-size: var(--text-size-xs);
    font-weight: 700;
  }

  .btn-reset-playground button {
    background-color: var(--white);
    color: var(--black-03);
    padding: 1rem 1.6rem;
    border: var(--gray-04) 1px solid;
  }

  .gray-btn-submit button {
    padding: 0.8rem 1.6rem;
    border: solid 2px var(--gray-05);
    background-color: var(--white);
    line-height: var(--text-lh-s);
    letter-spacing: normal;
    text-align: var(--text-align-center);
    color: var(--black-03);
  }

  .btn-submit button {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 1rem 1.6rem;
    border: none;
    border-radius: 4px;
    background-color: var(--red-01);
    font-size: var(--text-size-xs);
    font-weight: 700;
    line-height: var(--text-lh-s);
    letter-spacing: normal;
    text-align: var(--text-align-center);
    color: var(--white);

    &:hover {
      background-color: var(red-02);
    }
  }
}
