.guideIcon,
.signUpIcon,
.registerYourAppIcon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.guideIcon {
    background-image: url(/img/guide.svg);
}

.signUpIcon {
    background-image: url(/img/sign-up.svg);
}

.registerYourAppIcon {
    background-image: url(/img/register-your-app.svg);
}

.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), url(/img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    .heroContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 160px 0;
        width: 1008px;
        .heroHeader {
            max-width: 775px;
            font-size: 64px;
            font-weight: 700;
            line-height: 1.25;
            text-align: center;
            color: #fff;
            margin-bottom: 16px;
        }
        .heroText {
            font-size: 24px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            margin-bottom: 0;
        }
    }
}

.benefitsContainer {
    .benefitsTitle {
        margin-bottom: 10px;
    }
    .benefitsIcons {
        width: 65%;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        .image {
            background-size: contain;
            width: 72px;
            height: 72px;
            display: inline-block;
            margin: 8px;
            &.automationIcon {
                background: url(/img/automation.svg) no-repeat;
            }
            &.integrationIcon {
                background: url(/img/integration.svg) no-repeat;
            }
            &.executionIcon {
                background: url(/img/execution.svg) no-repeat;
            }
        }
        p {
            font-size: 22px !important;
        }
    }
    .benefits {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        div {
            width: 486px;
        }
        img {
            margin-bottom: 40px;
        }
        .personalisationImage,
        .earnMoreImage {
            background-size: 100% auto; 
            background-repeat: no-repeat;
            background-position: center;
            width: 486px;
            height: 260px;
        }
        .earnMoreContainer,
        .personalisationContainer {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            margin: 40px 0;
        }
        .earnMoreContainer {
            .earnMoreImage {
                background-image: url(/img/build-business.png);
            }
            .earnMore {
                margin-left: 40px;
                h3 {
                    font-size: 32px;
                }
                p {
                    font-size: 22px;
                    line-height: 2rem;
                }
            }
        }
        .personalisationContainer {
            flex-direction: row-reverse;
            .personalisationImage {
                background-image: url(/img/personalisation.png);
            }
            .personalisation {
                margin-right: 40px;
                h3 {
                    font-size: 32px;
                }
                p {
                    font-size: 22px;
                    line-height: 2rem;
                }
            }
        }
    }
}

.waysContainer {
    margin-top: 20px;
    .waysWrapper {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        h1 {
            text-align: center;
            max-width: 384px;
        }
        .ways {
            display: flex;
            align-items: center;
            width: unset;
            max-width: 628px;
            margin: 20px 12px;
            padding: 16px;
            p {
                margin-bottom: 0;
                margin-left: 16px;
            }
            .checklistIcon {
                background-image: url(/img/checklist-icon-red.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 32px;
                height: 32px;
                background-size: 32px 32px;
                padding-right: 16px;
            }
        }
    }
}

.apiFeatures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
    .apiFeaturesDescription,
    .apiFeaturesImage {
        min-width: 320px;
        margin-bottom: 40px;
    }
    .apiFeaturesDescription {
        width: 486px;
        margin-left: 40px;
        padding: 0 10px;
        box-sizing: border-box;
        h3 {
            font-size: 48px;
        }
        p {
            font-size: 16px;
            line-height: 2rem;
        }
        ul {
            margin-left: 0;
            li {
                display: flex;
                align-items: center;
                list-style-type: none;
                .checklistIcon {
                    background-image: url(/img/checklist-icon-red.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 10px;
                    margin-bottom: 0;
                    width: 24px;
                    height: 24px;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .apiFeaturesImage {
        aspect-ratio: 3 / 2;
        background-image: url(/img/api-featutes.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 600px;
        margin-top: 10px;
    }
}

.clientLibrary {
    .iconJsLibrary {
        background-image: url(/img/js-library.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 64px;
        height: 64px;
    }
    .libraryLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .logoAndLink {
            padding: 10px 20px;
            .libraryGoTo {
                display: flex;
                align-items: center;
                .logoJavascript {
                    background-image: url(/img/js.svg);
                }
                .logoPython {
                    background-image: url(/img/py.svg);
                }
                .logoJavascript,
                .logoPython {
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
                .libraryChevron {
                    background-image: url(/img/library-chevron.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 12px;
                    height: 12px;
                    margin-left: 13px;
                }
                label {
                    cursor: pointer;
                }
            }

        }
    }
}

[data-state*="responsive.mobile"] {
    .heroImage {
        margin-top: 47px;
        padding-top: unset;
        .heroContainer {
            width: 100%;
            padding: 80px 20px;
            .heroHeader {
                max-width: unset;
            }
        }
    }
    .benefitsContainer {
        .benefitsIcons {
            margin-top: 30px;
            img {
                width: 48px;
                height: 48px;
            }
            p {
                font-size: 10px;
            }
        }
        .benefits {
            flex-wrap: wrap;
            width: 90%;
            div {
                width: 100%;
            }
            h3 {
                margin: 16px 0;
            }
            img {
                height: auto;
            }
            .personalisationContainer {
                flex-direction: column-reverse;
                margin: 0;
                .personalisation {
                    width: 90% !important;
                    margin: 0 auto 30px;
                    h3 {
                        font-size: 24px;
                    }
                }
            }
            .earnMoreContainer {
                flex-direction: column;
                margin: 0;
                .earnMore {
                    width: 90% !important;
                    margin: 0 auto;
                    h3 {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    
    .benefitsContainer .benefits .personalisationImage,
    .benefitsContainer .benefits .earnMoreImage {
        max-width: 486px;
        height: 220px;
    }

    .waysContainer {
        margin-top: 0;
        .waysWrapper .ways {
            max-width: 328px;
            > div {
                padding-right: 24px;
            }
        }
    }

    .earnMoreImage {
        margin: 40px 0;
    }

    .clientLibrary {
        h1 {
            max-width: 290px;
            margin-bottom: 8px;
        }
    }
}

[data-state~="responsive.mobileS"],
[data-state~="responsive.mobileM"] {
    .heroImage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), url(/img/header-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        .heroContainer {
            padding: 80px 16px;
            .heroHeader {
                font-size: 32px;
                text-align: left;
                width: 100%;
            }
            .heroText {
                font-size: 20px;
                margin-bottom: 12px;
                text-align: left;
            }
        }
    }

    .benefitsContainer {
        .benefits {
            img {
                margin-bottom: 0;
            }
            .personalisationContainer {
                .personalisationImage {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .earnMoreContainer {
                .earnMoreImage {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .personalisation,
            .earnMore {
                margin: 0;
                p {
                    font-size: 20px;
                }
            }
        }
    }

    .waysWrapper h1 {
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .apiFeatures .apiFeaturesDescription {
        margin: 0;
        p {
            font-size: 16px;
        }
        h3 {
            text-align: center;
            font-size: 22px;
        }
    }
}

[data-state~="responsive.mobileS"] {
    .benefitsContainer .benefits .personalisationImage,
    .benefitsContainer .benefits .earnMoreImage {
        max-width: 486px;
        height: 150px;
    }
}
