@charset "UTF-8";
:root {
  --app-sidebar-border-color: #f0f1f3a3;
  --app-registration-tab-active-font: #333333;
  --app-registration-tab-active-underline: #ff444f;
  --app-registration-tab-secondary: #999999;
  --app-registration-tab-tooltip-background: #d6dadb;
  --app-registration-tab-light-grey: #e6e9e9;
  --app-registration-tab-table-row-grey: #fbfbfb;
  --app-registration-text-submit: #ffffff;
  --brand-secondary: #85acb0;
  --border-normal: #d6dadb;
  --label-background: #ffffff;
  --background: #0e0e0e;
  --copy-hover:#424242;
  --copy-color:#c2c2c2;
}
* {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  z-index: 10;
}
html,
body {
  overflow-x: hidden;
}
.doc-content{
  padding: 188px 80px;
  display: flex;
  min-height: 95vh;
  justify-content: center;

  @media (max-width: 992px) {
    padding:75px 15px 40px;;
  }

}
button:focus {
  outline: none;
}
@media (max-width: 480px) {
  .benefits img {
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  #sidebar {
    display: none;
  }
  .row-container {
    flex-direction: column;
  }
  .term-conditions,
  .term-conditions a {
    text-align: center;
    max-width: 350px;
    font-size: 13px;
    margin-top: 0;
  }
  .dark h1,
  h1 {
    font-size: 32px;
  }
  .single-container > p {
    text-align: center;
    margin-bottom: 24px !important;
  }
  body > #content > h1 {
    font-size: 24px;
    margin-top: 43px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row {
    padding: 40px 0;
  }
}
@media (max-width: 992px) and (max-width: 480px) {
  .main-content .main-page-row .clients-opinion {
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .row-container,
  .main-content .main-page-row .row-container .single-container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .column-container {
    width: 100%;
  }
  .main-content .main-page-row .column-container h1 {
    margin-bottom: 0 !important;
  }
  .main-content .main-page-row .column-container .benefits {
    flex-wrap: wrap;
  }
  .main-content .main-page-row .column-container .benefits h3 {
    margin: 16px 0;
  }
  .main-content .main-page-row .column-container .benefits div {
    width: 100%;
  }
  .main-content .main-page-row .column-container .ways {
    max-width: 328px;
  }
  .main-content .main-page-row .column-container .slider,
  .main-content .main-page-row .column-container .wrapper,
  .main-content .main-page-row .column-container .slide {
    width: 248px;
  }
  .main-content .main-page-row .column-container .slides {
    left: -248px;
  }
  .main-content .main-page-row .column-container .prev {
    left: -50px;
  }
  .main-content .main-page-row .column-container .next {
    right: -50px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .card-container {
    flex-direction: column;
    padding: 24px 16px 0;
    margin-bottom: 0;
  }
  .main-content .main-page-row .card-container .main-page-card {
    width: unset;
    margin: 0 0 24px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row h1 {
    width: 90%;
    font-size: 24px;
  }
}
@media (max-width: 992px) and (max-width: 480px) {
  .main-content .main-page-row h1 {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .single-container h1 {
    font-size: 24px;
  }
  .main-content .main-page-row .single-container .subheader {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .main-content .benefits-icons {
    margin-top: 30px;
  }
  .main-content .benefits-icons img {
    width: 48px;
    height: 48px;
  }
  .main-content .benefits-icons p {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .main-content .benefits img {
    height: auto;
  }
}
@media (max-width: 992px) {
  .main-content .container {
    flex-direction: column;
  }
  .main-content .container .row-container {
    width: 100%;
  }
  .main-content .container .row-container .single-container {
    width: unset;
    padding: 40px 16px 0;
  }
}
@media (max-width: 1499px) {
  .benefits div {
    width: 100%;
  }
  .personalisation {
    order: 2;
  }
  .personalisation-image {
    order: 1;
  }
  .earn-more-image {
    order: 3;
  }
  .earn-more {
    order: 4;
  }
}
li {
  margin-top: 16px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), url(/img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
@media (max-width: 480px) {
  .hero-text {
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
  }
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 208px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.benefits-title {
  margin-bottom: 10px;
}
.benefits-icons {
  width: 65%;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.benefits-icons .single-container img {
  margin: 8px;
}
.benefits-icons .single-container p {
  font-size: 22px;
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.benefits .earn-more-container,
.benefits .personalisation-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 0;
}
@media (max-width: 992px) {
  .benefits .earn-more-container {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .benefits .earn-more-container .earn-more {
    width: 90% !important;
    margin: 0 auto;
  }
}
@media (max-width: 486px) {
  .benefits .earn-more-container .earn-more-image {
    width: 100%;
    margin: 0 auto;
  }
}
.benefits .personalisation-container {
  flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .benefits .personalisation-container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 992px) {
  .benefits .personalisation-container .personalisation {
    width: 90% !important;
    margin: 0 auto 30px;
  }
}
@media (max-width: 486px) {
  .benefits .personalisation-container .personalisation-image {
    width: 100%;
    margin: 0 auto;
  }
}
.benefits div {
  width: 486px;
}
.benefits img {
  margin-bottom: 40px;
}
.benefits .personalisation {
  margin-right: 40px;
}
.benefits .personalisation p {
  font-size: 22px;
  line-height: 2rem;
}
.benefits .earn-more {
  margin-left: 40px;
}
.benefits .earn-more p {
  font-size: 22px;
  line-height: 2rem;
}
@media (max-width: 480px) {
  .benefits .personalisation,
  .benefits .earn-more {
    margin: 0;
  }
  .benefits .personalisation p,
  .benefits .earn-more p {
    font-size: 20px;
  }
  .benefits .personalisation h3,
  .benefits .earn-more h3 {
    font-size: 22px;
  }
  .benefits img {
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  .benefits {
    width: 90%;
  }
}
.api-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.api-features .api-features-description,
.api-features .api-features-image {
  min-width: 320px;
  margin-bottom: 40px;
}
.api-features img {
  margin-bottom: 40px;
}
.api-features .api-features-description {
  margin-left: 40px;
}
@media (max-width: 480px) {
  .api-features .api-features-description {
    margin: 0;
  }
  .api-features .api-features-description p {
    font-size: 16px;
  }
  .api-features .api-features-description h3 {
    font-size: 22px;
  }
  .api-features img {
    margin-bottom: 0;
  }
}
.api-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
}
.api-features div {
  width: 486px;
}
.api-features img {
  margin-bottom: 20px;
}
.api-features ul {
  margin-left: 0;
}
.api-features ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.api-features ul li p {
  margin-bottom: 0;
}
.api-features ul li img {
  margin-right: 20px;
  margin-bottom: 0;
}
.api-features .api-features-description h3 {
  font-size: 48px;
}
.api-features .api-features-description p {
  font-size: 16px;
  line-height: 2rem;
}
.api-features .api-features-image {
  min-width: 320px;
}
@media (max-width: 480px) {
  .api-features .api-features-description {
    margin: 0;
  }
  .api-features .api-features-description h3 {
    text-align: center;
  }
  .api-features .api-features-description p {
    font-size: 16px;
  }
  .api-features .api-features-description h3 {
    font-size: 22px;
  }
  .api-features img {
    margin-bottom: 0;
  }
}
.take-to-lib {
  padding: 80px 0 0;
}
.slider {
  top: 50%;
  left: 50%;
  transform: translate(0);
  width: 588px;
  height: 248px;
}
@media (max-width: 480px) {
  .slider {
    height: 190px;
  }
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: 588px;
  height: 248px;
  z-index: 1;
}
.slides {
  display: flex;
  position: relative;
  top: 0;
  left: -588px;
  width: 10000px;
}
.slide {
  width: 588px;
  height: 248px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: relative;
}
.control {
  position: absolute;
  top: 35%;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.prev {
  background-image: url(../img/arrow_left.svg);
  left: -100px;
}
.next {
  background-image: url(../img/arrow_right.svg);
  right: -100px;
}
.prev:active,
.next:active {
  transform: scale(0.8);
}
blockquote {
  position: relative;
  text-align: left;
}
blockquote:after {
  box-sizing: border-box;
  content: "\201c";
  position: absolute;
  font-size: 17rem;
  font-weight: 700;
  z-index: -1;
  left: 0rem;
  top: -6.9rem;
  color: #f2f3f4;
  opacity: 56%;
}
.blockquote-separator {
  margin: 20px 0;
  border: none;
  width: 15rem;
  height: 1px;
  background-color: #f5f7fa;
}
.blockquote-author {
  text-align: left;
  line-height: 1.5;
  font-size: 1rem;
  width: auto;
}
.with-pattern {
  background-image: url(/img/pattern.svg);
  object-fit: contain;
}
.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.column-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.gray {
  background-color: #f5f7fa;
}
.white {
  background-color: #fff;
}
.ways-container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.ways-container h1 {
  text-align: center;
  max-width: 384px;
}
@media (max-width: 480px) {
  .ways-container h1 {
    text-align: left;
    padding: 0 20px;
  }
}
.ways-container .ways {
  display: flex;
  align-items: center;
  width: unset;
  max-width: 628px;
  margin: 20px 12px;
  padding: 16px;
}
.ways-container .ways p {
  margin-bottom: 0;
  margin-left: 16px;
}
.subheader {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  color: #333;
  margin-bottom: 40px;
}
textarea {
  width: calc(100% - 16px);
  min-height: 119px;
  border-radius: 4px;
  border: solid 1px #d6dadb;
  margin-top: 1.5rem;
}
.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.lib-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lib-links .logo-and-link {
  padding: 10px 20px;
}
.library-go-to {
  display: flex;
  align-items: center;
}
.library-go-to label {
  cursor: pointer;
}
.library-chevron {
  background-image: url(/img/library-chevron.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 13px;
}
.logo-javascript {
  background-image: url(/img/js.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.logo-python {
  background-image: url(/img/py.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
* {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  #sidebar {
    display: none;
  }
  .row-container {
    flex-direction: column;
  }
  .dark h1,
  h1 {
    font-size: 32px;
  }
  .single-container > p {
    text-align: center;
    margin-bottom: 24px !important;
  }
  body > #content > h1 {
    font-size: 24px;
    margin-top: 43px;
  }
}
@media (max-width: 992px) {
  .row-container .single-container > h2 {
    font-size: 24px;
  }
  .row-container .single-container > .max-js-div {
    max-width: 290px;
    margin-bottom: 8px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row {
    padding: 40px 0;
  }
  .main-content .main-page-row .row-container,
  .main-content .main-page-row .row-container .single-container,
  .main-content .main-page-row .column-container {
    width: 100%;
  }
  .main-content .main-page-row .column-container h1 {
    margin-bottom: 0 !important;
  }
  .main-content .main-page-row .card-container {
    flex-direction: column;
    padding: 24px 16px 0;
    margin-bottom: 0;
  }
  .main-content .main-page-row .card-container .main-page-card {
    width: unset;
    margin: 0 0 24px;
  }
  .main-content .main-page-row h1 {
    width: 90%;
    font-size: 24px;
  }
  .main-content .main-page-row .single-container h1 {
    font-size: 24px;
  }
  .main-content .main-page-row .single-container .subheader {
    font-size: 16px;
  }
  .main-content .container {
    flex-direction: column;
  }
  .main-content .container .row-container {
    width: 100%;
  }
  .main-content .container .row-container .single-container {
    width: unset;
    padding: 40px 16px 0;
  }
}
a {
  color: var(--app-registration-tab-active-underline);
  text-decoration: none;
}
h1 {
  margin-bottom: 40px;
  font-size: 48px;
  text-align: center;
  color: #333;
}
h2 {
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: #333;
}
h3 {
  margin-bottom: 16px;
  font-size: 24px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}
@media (max-width: 480px) {
  h3 {
    font-size: 18px;
  }
}
p {
  line-height: 28px;
  margin-bottom: 16px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), url(/img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
@media (max-width: 992px) {
  .hero-image {
    margin-top: 47px;
    padding-top: unset;
  }
}
@media (max-width: 480px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), url(/img/header-mobile.png);
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
  width: 1008px;
}
@media (max-width: 992px) {
  .hero-container {
    width: 100%;
    padding: 80px 20px;
  }
}
@media (max-width: 480px) {
  .hero-container {
    padding: 80px 16px;
  }
}
.hero-header {
  max-width: 775px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .hero-header {
    max-width: unset;
  }
}
@media (max-width: 480px) {
  .hero-header {
    font-size: 32px;
    text-align: left;
  }
}
.hero-text {
  font-size: 24px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .hero-text {
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
  }
}
.main-page-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.single-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.single-container p {
  margin-bottom: 32px;
  text-align: center;
}
.single-container p a {
  color: var(--app-registration-tab-active-underline);
}
.single-container h1 {
  width: 80%;
  margin-bottom: 12px;
  line-height: 1.25;
}
.single-container img {
  margin-bottom: 24px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 208px;
  align-items: center;
  justify-content: center;
}
.single-container > h2 {
  font-size: 32px;
  margin-bottom: 8px;
  color: #fff;
}
.with-pattern {
  background-image: url(/img/pattern.svg);
  object-fit: contain;
}
.community-btn {
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: solid 1px #6e6e6e;
}
.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.column-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.row-container {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.main-page-card {
  width: 100%;
  max-width: 316px;
  padding: 32px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px #0e0e0e1a;
  background-color: #fff;
  margin: 0 12px;
}
.main-page-card .header {
  display: inline-block;
  width: 100%;
}
.main-page-card .header img {
  float: right;
}
.main-page-card .header h3 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 8px;
  float: left;
}
.main-page-card .content {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 0;
}
.main-page-card .hide-on-desktop {
  display: none;
}
@media (max-width: 480px) {
  .main-page-card .hide-on-desktop {
    display: block;
  }
}
.main-page-card .hide-on-mobile {
  display: block;
}
@media (max-width: 480px) {
  .main-page-card .hide-on-mobile {
    display: none;
  }
}
@media (max-width: 480px) {
  .main-page-card {
    padding: 28px 16px 24px;
  }
}
ul {
  margin-left: 20px;
}
ul li {
  margin-bottom: 16px;
}
.subheader {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}
textarea {
  width: calc(100% - 16px);
  min-height: 119px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #d6dadb;
}
button {
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: column;
}
textarea {
  font-size: 16px;
  resize: none;
}
.progress {
  margin: 0 auto;
}
.dark {
  color: #fff;
  background-color: #0e0e0e;
}
.dark .selected,
.dark a {
  color: #fff;
}
.dark p {
  color: #c2c2c2;
}
.hidden {
  display: none;
}
.mb-16p {
  margin-bottom: 16px;
}
.benefits-icons .single-container > div {
  background-size: contain;
  width: 72px;
  height: 72px;
  display: inline-block;
  margin: 8px;
}
.automation-icon {
  background: url(/img/automation.svg) no-repeat;
}
.integration-icon {
  background: url(/img/integration.svg) no-repeat;
}
.execution-icon {
  background: url(/img/execution.svg) no-repeat;
}

[data-state~="responsive.laptop"]{
    .doc-content{
      padding: 188px 50px;
    }
}
