@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;700&display=swap');
:root {
  --app-sidebar-border-color: #f0f1f3a3;
  --app-registration-tab-active-font: #333333;
  --red-01: #ff444f;
  --app-registration-tab-secondary: #999999;
  --app-registration-tab-light-grey: #e6e9e9;
  --app-registration-tab-table-row-grey: #fbfbfb;
  --black-01: #0e0e0e;
  --blockquote-separator-color: #f5f7fa;
  --blockquote-text-color: #f2f3f4;
  --border-normal: #d6dadb;
  --brand-secondary: #85acb0;
  --copy-hover:#424242;
  --copy-color:#c2c2c2;
  --community-btn-border: #6e6e6e;
  --hamburger-active-link: #577A9214;
  --hamburger-menu-width: 260px;
  --white-01: #ffffff;
  --btn-background: var(--red-01);
  --btn-text-color: var(--white-01);
}
* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
.doc-content{
  padding: 188px 80px;
  display: flex;
  min-height: 95vh;
  justify-content: center;

  @media (max-width: 992px) {
    padding:75px 15px 40px;;
  }

}
button:focus {
  outline: none;
}
@media (max-width: 992px) {
  #sidebar {
    display: none;
  }
  .row-container {
    flex-direction: column;
  }
  .term-conditions,
  .term-conditions a {
    text-align: center;
    max-width: 350px;
    font-size: 13px;
    margin-top: 0;
  }
  .dark h1,
  h1 {
    font-size: 32px;
  }
  .single-container > p {
    text-align: center;
    margin-bottom: 24px !important;
  }
  body > #content > h1 {
    font-size: 24px;
    margin-top: 43px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row {
    padding: 40px 0;
  }
}
@media (max-width: 992px) and (max-width: 480px) {
  .main-content .main-page-row .clients-opinion {
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .row-container,
  .main-content .main-page-row .row-container .single-container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .column-container {
    width: 100%;
  }
  .main-content .main-page-row .column-container h1 {
    margin-bottom: 0 !important;
  }
  .main-content .main-page-row .column-container .benefits {
    flex-wrap: wrap;
  }
  .main-content .main-page-row .column-container .benefits h3 {
    margin: 16px 0;
  }
  .main-content .main-page-row .column-container .benefits div {
    width: 100%;
  }
  .main-content .main-page-row .column-container .ways {
    max-width: 328px;
  }
  .main-content .main-page-row .column-container .prev {
    left: -50px;
  }
  .main-content .main-page-row .column-container .next {
    right: -50px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .card-container {
    flex-direction: column;
    padding: 24px 16px 0;
    margin-bottom: 0;
  }
  .main-content .main-page-row .card-container .main-page-card {
    width: unset;
    margin: 0 0 24px;
  }
}
@media (max-width: 992px) and (max-width: 480px) {
  .main-content .main-page-row h1 {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row .single-container h1 {
    font-size: 24px;
  }
  .main-content .main-page-row .single-container .subheader {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .main-content .container {
    flex-direction: column;
  }
  .main-content .container .row-container {
    width: 100%;
  }
  .main-content .container .row-container .single-container {
    width: unset;
    padding: 40px 16px 0;
  }
}
@media (max-width: 1499px) {
  .personalisation {
    order: 2;
  }
  .personalisation-image {
    order: 1;
  }
  .earn-more-image {
    order: 3;
  }
  .earn-more {
    order: 4;
  }
}
li {
  margin-top: 16px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 208px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.take-to-lib {
  padding: 80px 0 0;
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: 588px;
  height: 248px;
  z-index: 1;
}
.slide {
  width: 588px;
  height: 248px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: relative;
}
.control {
  position: absolute;
  top: 35%;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.prev {
  background-image: url(/img/arrow_left.svg);
  left: -100px;
}
.next {
  background-image: url(/img/arrow_right.svg);
  right: -100px;
}
.prev:active,
.next:active {
  transform: scale(0.8);
}
blockquote {
  position: relative;
  text-align: left;
}
blockquote:after {
  box-sizing: border-box;
  content: "\201c";
  position: absolute;
  font-size: 17rem;
  font-weight: 700;
  z-index: -1;
  left: 0rem;
  top: -6.9rem;
  color: var(--blockquote-text-color);
  opacity: 56%;
}
.blockquote-separator {
  margin: 20px 0;
  border: none;
  width: 15rem;
  height: 1px;
  background-color: var(--blockquote-separator-color);
}
.blockquote-author {
  text-align: left;
  line-height: 1.5;
  font-size: 1rem;
  width: auto;
}
.with-pattern {
  background-image: url(/img/pattern.svg);
  object-fit: contain;
}
.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.column-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.gray {
  background-color: var(--blockquote-separator-color);
}
.white {
  background-color: var(--white-01);
}
.subheader {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  color: var(--app-registration-tab-active-font);
  margin-bottom: 40px;
}
textarea {
  width: calc(100% - 16px);
  min-height: 119px;
  border-radius: 4px;
  border: solid 1px var(--border-normal);
  margin-top: 1.5rem;
}
.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  #sidebar {
    display: none;
  }
  .row-container {
    flex-direction: column;
  }
  .dark h1,
  h1 {
    font-size: 32px;
  }
  .single-container > p {
    text-align: center;
    margin-bottom: 24px !important;
  }
  body > #content > h1 {
    font-size: 24px;
    margin-top: 43px;
  }
}
@media (max-width: 992px) {
  .row-container .single-container > h2 {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .main-content .main-page-row {
    padding: 40px 0;
  }
  .main-content .main-page-row .row-container,
  .main-content .main-page-row .row-container .single-container,
  .main-content .main-page-row .column-container {
    width: 100%;
  }
  .main-content .main-page-row .column-container h1 {
    margin-bottom: 0 !important;
  }
  .main-content .main-page-row .card-container {
    flex-direction: column;
    padding: 24px 16px 0;
    margin-bottom: 0;
  }
  .main-content .main-page-row .card-container .main-page-card {
    width: unset;
    margin: 0 0 24px;
  }
  .main-content .main-page-row h1 {
    width: 90%;
    font-size: 28px;
  }
  .main-content .main-page-row .single-container h1 {
    font-size: 24px;
  }
  .main-content .main-page-row .single-container .subheader {
    font-size: 16px;
  }
  .main-content .container {
    flex-direction: column;
  }
  .main-content .container .row-container {
    width: 100%;
  }
  .main-content .container .row-container .single-container {
    width: unset;
    padding: 40px 16px 0;
  }
}
a {
  color: var(--red-01);
  text-decoration: none;
}
h1 {
  margin-bottom: 40px;
  font-size: 48px;
  text-align: center;
  color: var(--app-registration-tab-active-font);
}
h2 {
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: var(--app-registration-tab-active-font);
}
h3 {
  margin-bottom: 16px;
  font-size: 24px;
  text-align: left;
  line-height: 1.5;
  color: var(--app-registration-tab-active-font);
}
@media (max-width: 480px) {
  h3 {
    font-size: 18px;
  }
}
p {
  line-height: 28px;
  margin-bottom: 16px;
}
.main-page-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.single-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.single-container p {
  margin-bottom: 32px;
  text-align: center;
}
.single-container p a {
  color: var(--red-01);
}
.single-container h1 {
  width: 80%;
  margin-bottom: 12px;
  line-height: 1.25;
}
.single-container img {
  margin-bottom: 24px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 208px;
  align-items: center;
  justify-content: center;
}
.single-container > h2 {
  font-size: 32px;
  margin-bottom: 8px;
  color: var(--white-01);
}
.with-pattern {
  background-image: url(/img/pattern.svg);
  object-fit: contain;
}
.community-btn {
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: solid 1px var(--community-btn-border);
}
.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.column-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.row-container {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.main-page-card {
  width: 100%;
  max-width: 316px;
  padding: 32px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(14, 14, 14, 0.1);
  background-color: var(--white-01);
  margin: 0 12px;
}
.main-page-card .header {
  display: flex;
  width: 100%;
}
.main-page-card .header img {
  float: right;
  padding-left: 10px;
}
.main-page-card .header h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--app-registration-tab-active-font);
  margin-bottom: 8px;
  float: left;
  width: 100%;
}
.main-page-card .content {
  font-size: 16px;
  line-height: 1.5;
  color: var(--app-registration-tab-active-font);
  margin-bottom: 0;
}
.main-page-card .hide-on-desktop {
  display: none;
}
@media (max-width: 480px) {
  .main-page-card .hide-on-desktop {
    display: block;
  }
}
.main-page-card .hide-on-mobile {
  display: block;
}
@media (max-width: 480px) {
  .main-page-card .hide-on-mobile {
    display: none;
  }
}
@media (max-width: 480px) {
  .main-page-card {
    padding: 28px 16px 24px;
  }
}
ul {
  margin-left: 20px;
}
ul li {
  margin-bottom: 16px;
}
.subheader {
  font-size: 24px;
  text-align: center;
  color: var(--app-registration-tab-active-font);
  margin-bottom: 40px;
}
textarea {
  width: calc(100% - 16px);
  min-height: 119px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px var(--border-normal);
}
button {
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: column;
}
textarea {
  font-size: 16px;
  resize: none;
}
.progress {
  margin: 0 auto;
}
.dark {
  color: var(--white-01);
  background-color: var(--black-01);
}
.dark .selected,
.dark a {
  color: var(--white-01);
}
.dark p {
  color: var(--copy-color);
}
.hidden {
  display: none;
}
.mb-16p {
  margin-bottom: 16px;
}
[data-state*="responsive.mobile"][data-state~="hamburger.hamburger_open"] nav a.active {
  background-color: var(--hamburger-active-link);
  font-weight: bold;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 4px;
    border-radius: 4px 0 0 4px;
    left: 0;
    bottom: 0;
    background-color: var(--red-01);
    visibility: visible;
  }
}
[data-state~="responsive.desktopLaptopM"] {
    .doc-content{
      padding: 188px 50px;
    }
}
