.page_content{
    padding-left: 42px;
    width: 68%;
    border-left: 2px solid var(--gray-01);
    color: #333333;
    
    @media (max-width: 992px) {
      padding-left: unset;
      width: unset;
      border-left: unset;
  }
  
}
.doc_main_title {
    margin-bottom: 40px;
    font-size: 48px;
    padding-left: 8px;
    text-align: center;
    color: #333333;
    @media (max-width: 992px) {
        font-size: 32px;
    }
}

.quick_start_intro {
    p {
        line-height: 28px;
        margin-bottom: 16px;
    }
    ul {
        padding-left: 20px;

        li {
            margin-bottom: 16px;
        }
    }
}
.api_sub_title {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
    color: #333333;
    margin: 24px 0;

    @media (max-width: 992px) {
        font-size: 20px;
        line-height: 25px;
        text-align: left;
        width: 100%;
    }
    @media (max-width: 480px) {
        font-size: 16px;
        line-height: 24px;
    }
}
.bullet {
    list-style-type: bullet;
}

@media (max-width: 992px) {
    .quick_start_intro {
        p {
            line-height: 28px;
            margin-bottom: 16px;
        }
        ul {
            padding-left: 20px;

            li {
                margin-bottom: 16px;
            }
        }
    }
    .bullet {
        list-style-type: bullet;
    }
}

.pre {
    max-width: 100%;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
    color: #fff;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 16px;
    background: #1d1f20;
    font-size: inherit;
    word-wrap: inherit;
  }

  .codeBlock{
    margin-bottom: 40px;
  
    .sub_title {
      font-size: 32px;
      text-align: left;
      margin-bottom: 8px;
    }
  
    p {
      code {
        font-weight: normal;
        color: #ff444f;
      }
    }
  
    ol {
      li {
        a {
          font-weight: normal;
        }
        code {
          font-weight: normal;
          color: #ff444f;
        }
      }
    }
  }

  .codeBlockTitle {
    font-size: 32px;
    margin-bottom: 12px;
    text-align: left;
    width: 100%;
  
    @media (max-width: 480px) {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  .codeBlockDesc{
    line-height: 28px;
    margin-bottom: 16px;
  }

  .card {
    border-radius: 6px;
    background-color: #1d1f20;
  
    &_header {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      border-radius: 6px;
      background-color: var(--black-01);
      border-bottom: 1px solid rgba(242, 243, 244, 0.2);
      color: #d6d6d6;
      line-height: 1.5;
  
      &_title {
        width: 100%;
        margin-bottom: unset;
        padding-left: 24px;
      }
      select {
        background-color: inherit;
        border: #0e0e0e;
        color: #d6d6d6;
      }
      option{
        color: #0e0e0e;
      }
    }
  }
  .copy_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--copy-color);
    border-left: rgba(229, 229, 229, 0.4) 1px solid;
    padding: 8px 16px;
    cursor: copy;
    flex-shrink: 0;

    &_image {
      background-image: url(/img/copy.svg);
      width: 15px;
      height: 16px;
    }

    >div {
      margin-left: 9px;
    }

    &:hover {
      background-color:var(--copy-hover);
      border-top-right-radius: 6px;
    }


    &--card{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: fit-content;
      height: 100%;
      font-weight: 400;
      border-left: rgba(229, 229, 229, 0.4) 1px solid;
      padding: 16px 24px;
      cursor: copy;
      color: #333;
      flex-shrink:0;
      &_image {
        margin: 0 9px 0 3px;
      }

      >div {
        margin-left: 9px;
      }
      @media (max-width: 480px) {
        flex-direction: column-reverse;
        padding: 8px;
      }
    }
  }
