.json-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 26px 0 40px;

    .btn-reset button {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        border-radius: 4px;
        margin-right: 8px;
        font-size: 14px;
        font-weight: 700;
    }

    .btn-reset-playground button {
        background-color: var(--white-01);
        color: var(--black-03);
        padding: 10px 16px;
        border: var(--gray-04) 1px solid;
    }

    .gray-btn-submit button{
        padding: 8px 16px;
        border: solid 2px var(--gray-05);
        background-color: var(--white-01);
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: var(--black-03);
    }

    .btn-submit button {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        padding: 10px 16px;
        border: none;
        border-radius: 4px;
        background-color: var(--red-01);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: var(--white-01);
    
        &:hover {
            background-color: var(red-02);
        }
    }
}