.schemaRole{
  font-size: 14px;
  line-height: 1.43;
  color: var(--green-03);
  border: none;
  margin: 8px 8px 0 0;
  padding: 6px 8px;
  white-space: nowrap;
  border-radius: 4px;
  background-color: rgba(0,255,104,.16);
}

.schemaCode{
  color: var(--white-01);
  font-size: 14px;
}

.schemaSubext{
  font-size: 14px;
}

.schemaHeader{
  padding: 24px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: none;
  background: var(--black-04);

  .schemaTitle{
   font-size: 24px;
   color: var(--white-01);
  }

  .schemaDescription{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    color: var(--white-01);

    .schemaAuthRequired{
      width:40%;
    }
  }
}

.schemaBody{
  background-color: #282a35;
  padding: 28px 23px;

  .schemaBodySignature{
    display: flex;
    flex-direction: column;

    .schemaBodyHeader{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: var(--white-01);
      font-size: 16px;
      margin: 0px 8px 0 0;
      font-weight: 700;

      .schemaBodyType{
        display: flex;
        width: 60%;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
        padding-left: 6px;
        color: var(--green-03)
      }

      .schemaEnums{
        font-size: 14px;
        line-height: 1.43;
        color: var(--green-03);
        border: none;
        padding: 6px 8px;
        white-space: nowrap;
        border-radius: 4px;
        background-color: rgba(0,255,104,.16);
      }

      .schemaItems{
        color: var(--green-02);
        font-size : 14px;
        line-height: 1.43;
        color: var(--green-03);
        border: none;
        margin: 8px 8px 0 0;
        padding: 6px 8px;
        white-space: nowrap;
        border-radius: 4px
      }

      .schemaRegexContainer{
        width: 50%;
        display: flex;
        flex-direction: row;

        .schemaBodyPattern{
          width: 100%;
          font-size: 11px;
          color:  var(--green-01);
          margin: 0 10px;
        }

        .schemaPatternType{
          color: var(--green-02);
        }
      }
    }

    .schemaBodyDescription{
      color: var(--copy-color);
      float: left;
      max-width: 600px;
      width: 100%;
      margin-top: 3px;
      font-size: 14px;
      line-height: 2;
      
    }
    .schemaRole{
    background-color: rgba(255,255,255,.16);
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5;
    color: var(--white-01);
    margin: 0 6px 0 0;
    padding: 6px 8px;
  }
  }
  .enumFlex{
    display: flex;
    padding: 0 5px;
    flex-wrap: wrap;
  }
}