.manageApps {
    display: none;
    table {
        border-spacing: 0;
        width: calc(100% - 125px);
    }
    thead {
        background-color: var(--gray-02);
        height: 50px;
        text-align: left;
    }
    th, td {
        padding: 16px;
        min-width: 120px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    td:last-child,
    th:last-child {
        white-space: nowrap;
        padding: 0 10px;
    }
    td:first-child,
    th:first-child {
        padding-left: 32px;
    }
    tbody tr:nth-child(even) {
        background-color: var(--gray-03);
    }
}

[data-state~="registration.logged_in.manage_tab"] .manageApps {
    display: inline-block;
    overflow: auto;
    width: 100%;
    max-height: 500px;
}

[data-state~="registration.logged_in.manage_tab.loadingApps.empty"] .manageApps {
    visibility: hidden;
}

[data-state*="responsive.mobile"] .manageApps table {
    width: 100%;
}

[data-state~="responsive.desktopLaptopM"] .manageApps {
    width: 650px;
}

@mixin actionIcon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 0 8px;
}

.deleteApp {
    background-image: url(/img/delete.svg);
    @include actionIcon;
}

.updateApp {
    background-image: url(/img/edit.svg);
    @include actionIcon;
}

.appActions {
    display: flex;
    justify-content: center;
}
