.customTextInput {
    align-items: center;
    border: 1px solid var(--border-normal);
    border-radius: 4px;
    display: flex;
    line-height: 1.43;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    &:focus-within {
        border-color: var(--brand-secondary);
    }
    &:hover {
        border: 1px solid var(--app-registration-tab-secondary);
    }
    label {
        position: absolute;
        color: var(--app-registration-tab-secondary);
        left: 12px;
        font-size: 14px;
        pointer-events: none;
        transform-origin: top left;
        transition: all .25s ease;
        white-space: nowrap;
    }
    input[type=text],
    input[type=number] {
        background: 0 0;
        box-sizing: border-box;
        color: var(--app-registration-tab-active-font);
        display: block;
        height: 2.5rem;
        min-width: 0;
        width: 100%;
        border: none;
        text-indent: 12px;
        &:not(:placeholder-shown)~label {
            color: var(--app-registration-tab-active-font);
            background-color: var(--white-01);
            padding: 0 4px;
            transform: translateY(-20px) scale(.75);
        }
        &:focus {
            outline: none;
            &~label {
                color: var(--brand-secondary);
                background-color: var(--white-01);
                padding: 0 4px;
                transform: translateY(-20px) scale(.75);
            }
        }
    }
}

.frmNewApplication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .formContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        fieldset input[type=text] {
            padding: 0;
            width: 100%;
            margin-bottom: 0!important;
        }
        .helperText {
            width: 60%;
            padding-left: 12px;
            font-size: 12px;
            line-height: 1.5;
            color: #999;
            margin-bottom: 0;
        }
        .expandForm {
            width: 80%;
            left: 0;
            display: flex;
            padding: 40px 0 10px;

            .expandFormCheckbox {
                margin-right: 16px;
                transform: scale(1.23);
                padding: 9px;
                top: 1px;
                position: relative;
            }
        }
        .expandableForm {
            width: 80%;
            fieldset {
                width: 100%;
            }
            .termsOfConditionRegister {
                margin-top: 35px;
            }
            .scopes {
                margin-top: 40px;
                .scopesField{
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 16px;
                    align-items: center;
                    justify-self: center;
                }
            }
            .registerAppButtonContainer {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 25px;
                flex-wrap: wrap-reverse;
                gap: 16px;
                button {
                    font-size: 16px;
                }
            }
        }
        .formHeaderContainer {
            display: flex;
            padding: 10px 0;
            margin-top: 15px;
            .registerFormHeader {
                font-size: 16px;
                margin-right: 5px;
                line-height: 20px
            }
            .infoIcon {
                position: relative;
                top: 2px !important;
                .infoIconImage {
                    background-image: url(/img/info-icon.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                }
                .tooltip {
                    display: none;
                    &:after {
                        background: 0 0;
                        height: 15px;
                        content: ' ';
                        position: absolute;
                        left: 0;
                        width: inherit;
                        bottom: -15px;
                        padding: 0 8px;
                    }
                    .tooltipLink {
                        font-size: 12px;
                    }
                }
                &:hover .tooltip {
                    background-color: var(--border-normal);
                    border-radius: 4px;
                    color: var(--app-registration-tab-active-font);
                    font-size: 12px;
                    left: 50%;
                    line-height: 18px;
                    padding: 8px;
                    position: absolute;
                    display: inline-block;
                    width: 280px;
                    transform: translate(-50%, calc(-100% - 10px));   
                    &:hover {
                        display: inline-block;
                    }
                    &:before {
                        content: ' ';
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid var(--border-normal);
                        left: 30px;
                        transform: translateX(-50%);
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                    }
                }
            }
        }
    }
}

[data-state~="registration.logged_in.register_tab.unfolded_form"] .expandableForm {
    display: flex;
    flex-direction: column;

}

[data-state~="registration.logged_in.update_mode"] .customTextInput .apiTokenInput[readonly] {
    color: var(--border-normal);
    cursor: not-allowed;
    &~label {
        color: var(--border-normal) !important;
    }
}

[data-state*="responsive.mobile"] {
    .formContent {
        width: 100%;
        .registerFormHeader {
            font-size: 16px;
        }
    }
    .infoIcon:hover .tooltip {
        width: 140px;
        transform: translate(-19%, calc(-100% - 10px)); 
    }
}

input[type=checkbox] {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.customCheckboxContainer {
    position: relative;
    height: 11px;
    min-width: 11px;
    margin-right: 15px;
    top: 1px;
    z-index: 0;
    .customCheckbox {
        position: absolute;
        background-image: url(/img/check.svg);
        background-repeat: no-repeat;
        display: inline-block;
        border: 2px solid var(--app-registration-tab-secondary);
        min-width: 11px;
        height: 11px;
        border-radius: 2px;
        transition: background-color .25s,border-color .25s;
        z-index: 1;
    }
    input:checked + .customCheckbox {
        background-color: var(--red-01);
        border-color: var(--red-01);
    }
}
