.signOut {
  --btn-background: var(--black-01);
  display: block;
  z-index: 100;
  color: var(--white);
  background-color: transparent;
  border: solid 0.2rem var(--gray-05);
  border-radius: 0.4rem;
}

[data-state*="mobile"] .signOut {
  position: relative;
  width: 13rem;
  text-align: center;
  bottom: 0.1rem;
}
