.signOut {
  --btn-background: var(--black-01);
  display: block;
  z-index: 100;
  color: var(--white);
  background-color: transparent;
  border: solid 2px var(--gray-05);
  border-radius: 4px;
}

[data-state*="mobile"] .signOut {
  position: relative;
  width: 13rem;
  text-align: center;
  bottom: 1px;
}
