.clientLibrary {
    .iconJsLibrary {
        background-image: url(/img/js-library.svg);
        background-repeat: no-repeat;
        background-position: var(--text-align-center);
        width: 6.4rem;
        height: 6.4rem;
    }

    .libraryLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: var(--text-align-center);

        .logoAndLink {
            padding: 1rem 2rem;

            .libraryGoTo {
                display: flex;
                align-items: var(--text-align-center);

                .logoJavascript {
                    background-image: url(/img/js.svg);
                }

                .logoPython {
                    background-image: url(/img/py.svg);
                }

                .logoFlutter {
                    background-image: url(/img/flutter.svg);
                }

                .logoJavascript,
                .logoPython,
                .logoFlutter {
                    background-repeat: no-repeat;
                    background-position: var(--text-align-center);
                    width: 4rem;
                    height: 4rem;
                }

                .logoJavascript,
                .logoPython {
                    margin-right: 1rem;
                }

                .libraryChevron {
                    background-image: url(/img/library-chevron.svg);
                    background-repeat: no-repeat;
                    background-position: var(--text-align-center);
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-left: 1.3rem;
                }

                label {
                    cursor: pointer;
                }
            }
        }
    }
}

[data-state*="responsive.mobile"] {
    .clientLibrary {
        h1 {
            max-width: 29rem;
            margin-bottom: 0.8rem;
        }
    }
}