.copyButtonHeader {
  border-radius: 4px 4px 0 0;
  position: relative;
  display: flex;
  justify-content: end;
  background-color: var(--json-midnight);

  .copyButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--copy-color);
    padding: 0.8rem 1.6rem;
    cursor: copy;
    flex-shrink: 0;
    width: fit-content;

    .copyButtonImage {
      background-image: url(/img/copy.svg);
      width: 1.5rem;
      height: 1.6rem;
    }

    > div {
      margin-left: 0.9rem;
    }

    &:hover {
      background-color: var(--copy-hover);
      border-top-right-radius: 6px;
    }
  }
}
