.btn {
  background-color: var(--btn-background);
  color: var(--btn-text-color);
  width: fit-content;
  height: fit-content;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 4px;
  font-size:var(--text-size-xs);
  font-weight: 700;
  line-height: var(--text-lh-s);
  letter-spacing: normal;
  text-align: var(--text-align-center);
  cursor: pointer;
  &:hover {
    --btn-background: var(--red-02);
  }
  &.secondary {
    --btn-background: transparent;
    --btn-text-color: var(--black-01);
    border: solid 2px var(--gray-05);
    border-radius: 4px;
    width: fit-content;
    padding: 0.8rem 1.6rem;
    &:hover {
      --btn-background: var(--gray-05);
    }
  }
}

button[disabled] {
  background-color: var(--btn-background-disabled);
  color: var(--btn-text-color-disabled);
  cursor: not-allowed;
  &:hover {
    background-color: var(--btn-background-disabled);
  }
}
