.inlineCode {
    font-weight: 400;
    color: var(--red-01);
    border-radius: 0.4rem;
    padding: 0.2rem 0.4rem;
    background-color: var(--gray-01);
    border: 0.1rem solid var(--gray-02);
  }
  