.apiGuide {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: left;
  }
  strong{
    font-size: var(--text-size-s);
  }
}

.apiGuideContent {
  width: 100%;
  .textBlock {
    margin-bottom: 4rem;
  }
  .markupCalc li {
    margin-left: 3rem;
  }
}

.apiGuideImage {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
  img {
    width: 80%;
  }
}

.apiCodeBlock {
  width: 100%;
}

.apiGuideTableContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

[data-state~="responsive.mobileL"],
[data-state~="responsive.mobileM"],
[data-state~="responsive.mobileS"] {
  .apiGuideImage {
    overflow: auto;
    justify-content: unset;
    img {
      width: 90rem;
    }
  }
}

[data-state*="responsive.desktop"] {
  .apiGuideContent {
    width: calc(100% - 27rem);
  }

  .apiCodeBlock {
    max-width: 80%;
    margin: 0 auto;
  }
}
