.pageContent {
  width: 70%;
  padding-left: 4.2rem;
  border-left: 0.2rem solid var(--gray-01);

  @media (max-width: 99.2rem) {
    width: 100% !important;
    border-left: unset;
  }
}
.withBg {
  background-image: url("/img/pattern-left.svg"), url("/img/pattern-right.svg");
  background-size: 46%, 50%;
  background-repeat: no-repeat, no-repeat;
  background-position: top 2rem left 0.8rem, bottom 0 right -0.8rem;
  z-index: 0;
}
.pre {
  max-width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--white);
  border-radius: 0.4rem;
  padding: 2.4rem;
  margin-bottom: 1.6rem;
  background: #1d1f20;
  font-size: inherit;
  word-wrap: inherit;
}
