.accordion {
    @media (min-width: 992px) {
      padding-left: 75px;
    }
    .accordionWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 24px;
  
      .accordionHeader {
        display: inline-flex;
        min-height: 56px;
        align-items: center;
        max-height: fit-content;
        padding: 0 40px;
        border: none;
        border-radius: 6px;
        box-shadow: -2px 6px 15px 0 rgba(195, 195, 195, 0.31);
        background-color: var(--white-01);
        transition: 0.2s;
        font-weight: 700;
        @media (max-width: 992px) {
          padding: 16px 28px;
        }
  
        > div {
          margin-right: 16px;
        }
        .accordionText {
          font-size: 16px;
          margin-right: 16px;
          color: var(--text-01);
        }
  
        .accordionButtonPlus {
          background-image: url("/img/plus.svg");
          width: 16px;
          height: 16px;
          margin-left: auto;
        }
        .accordionButtonMinus {
          background-image: url("/img/minus.svg");
          width: 16px;
          height: 16px;
          margin-left: auto;
          transform: rotate(90deg);
        }
      }
  
      .accordionHeader :nth-child(2) {
        margin-left: auto !important;
        flex-shrink: 0;
      }
  
      .accordionPanel {
        height: fit-content;
        padding: 24px 40px;
        background-color: rgba(87, 122, 146, 0.04);
        margin-bottom: 24px;
        z-index: 2;
        color: var(--text-01);
  
        .code {
          color: var(--red-01);
          font-weight: 400;
          margin: 0 2px 0 0;
          border-radius: 4px;
          padding: 2px 4px;
          border: 1px solid #eaeced;
          font-family: ibm plex sans, sans-serif;
        }
  
        ol {
          margin-left: 20px;
        }
      }
    }
  }