.dropdown {
  user-select: none;
  border: 1px solid var(--border-normal);
  position: relative;
  overflow-x: hidden;

  .arrow {
    background-size: 2.2rem;
    background-position: var(--text-align-center);
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(/img/arrow_up.svg);
    transform: rotate(-180deg);
    transition: transform 0.2s;
    width: 2.2rem;
    height: 2.2rem;
    &.down {
      transform: rotate(0deg);
    }
  }

  .dropdownBtn {
    padding: 0.5rem 0.5rem;
    background: var(--white);
    color: var(--black-03);
    display: flex;
    align-items: var(--text-align-center);
    cursor: pointer;
    justify-content: space-between;
    font-size: var(--text-size-s);
  }

  .dropdownContent {
    position: relative;
    top: 110%;
    padding-top: 1rem;
    left: 0;
    background: var(--white);
    color: var(--black-03);
    overflow: auto;
    overflow-x: hidden;

    .dropdownSearch {
      padding: 0.4rem;
      margin: 1rem;
      width: 97%;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }

    .dropdownSelect{
      padding: 0;
      margin: 0.5rem;
      color: var(--gray-05);
      font-size: var(--text-size-s);
    }

    .dropdownStart {
      padding: 0;
      margin: 0.5rem;
      font-weight: var(--text-weight-bold);
      color: var(--black-03);
      font-size: var(--text-size-s);
    }

    .dropdownSelected {
      background: #ccc;
    }

    .dropdownList{
      max-height: 70rem;
      overflow: auto;
    }

    .dropdownItem {
      list-style: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      padding: 0.6rem;
      user-select: none;
      color: var(--black-03);
      cursor: pointer;
      padding: 1rem;
      cursor: pointer;
      font-size: var(--text-size-s);
      transition: all 0.2s;
      &:hover {
        background: #1e90ff;
        color: var(--white);
      }
    }
  }
}
