.title {
  line-height: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.centerText {
  text-align: center;
  width: 24.5rem;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 6rem 0;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
