.heroImage {
    background-color: var(--brown-02);
    background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)),
        url(/img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48.8rem;
    display: flex;
    justify-content: var(--text-align-center);
    align-items: var(--text-align-center);
    padding-top: 40px;

    .heroContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16rem 0;
        width: 100.8rem;

        .heroHeader {
            max-width: 77.5rem;
            font-size: var(--text-size-xxl);
            font-weight: 700;
            line-height: var(--text-lh-xs);
            text-align: var(--text-align-center);
            color: var(--white);
            margin-bottom: 1.6rem;
        }

        .heroText {
            font-size: 2.4rem;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: var(--text-align-center);
            color: var(--white);
            margin-bottom: 0;
        }
    }
}

[data-state*="responsive.mobile"] {
    .heroImage {
        margin-top: 4.7rem;
        padding-top: unset;

        .heroContainer {
            width: 100%;
            padding: 8rem 2rem;

            .heroHeader {
                max-width: unset;
            }
        }
    }
}

[data-state~="responsive.mobileS"],
[data-state~="responsive.mobileM"] {
    .heroImage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)),
            url(/img/header-mobile.png);
        background-repeat: no-repeat;
        background-position: var(--text-align-center);
        height: 32.8rem;

        .heroContainer {
            padding: 8rem 1.6rem;

            .heroHeader {
                font-size: var(--text-size-l);
                text-align: left;
                width: 100%;
            }

            .heroText {
                font-size: var(--text-size-sm);
                margin-bottom: 1.2rem;
                text-align: var(--text-align-left);
            }
        }
    }
}

[data-state~="responsive.mobileS"] {
    .heroImage {
        height: 37.8rem;
    }
}