.api-token-fieldset {
  margin-bottom: 4.2rem;
  width: 100%;
  border: none;

  .api-token-wrapper {
    width: 100%;
    display: flex;
    align-items: var(--text-align-center);
    justify-content: var(--text-align-center);
    position: relative;

    button {
      border-radius: 0 4px 4px 0;
    }

    .helper-label {
      position: absolute;
      left: 7vw;
      top: -1.2rem;
      font-size: 1.2rem;
      line-height: var(--text-lh-s);
      color: var(--black-03);
      background-color: var(--white);
      margin-bottom: 0;
      padding: 0.4rem;
    }

    .api-token-input-registration {
      max-width: calc(80% - 15rem);
      width: 100%;
      height: 4rem;
      padding: 0 1.2rem;
      border-radius: 4px 0 0 4px;
      border: solid 1px var(--border-normal);
      font-size: 1.4rem;
      line-height: var(--text-lh-s);
      color: var(--black-03);
    }
    .api-token-input {
      width: 100%;
      height: 4rem;
      padding: 0 1.2rem;
      font-size: var(--text-size-xs);
      line-height: var(--text-lh-s);
      border: 1px solid var(--border-normal);
      border-radius: 4px 0 0 4px;
      color: var(--black-03);
      background-color: var(--white);
    }
  }
}

[data-state~="responsive.desktopLaptopL"] {
  .api-token-fieldset {
    .api-token-wrapper {
      .helper-label {
        left: 6.8vw;
      }
    }
  }
}
