.playgroundContent {
  margin-top: 12.5rem;
  min-height: 95vh;
  width: 100%;
  border-left: 2px solid var(--app-sidebar-border-color);

  .headerTitle h1 {
    text-align: var(--text-align-center);
    font-size: var(--text-size-xl);
    margin-bottom: 4rem;
  }

  .pageWrapper {
    display: flex;
    color: var(--black-03);

    .playground {
      display: flex;
      justify-content: var(--text-align-center);
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      width: 100%;
      margin-top: 40px;
      .playgroundPageWrapper {
        display: flex;
        justify-content: var(--text-align-center);
        width: 95%;
      }
    }
  }
}

.playgroundApiJson {
  display: flex;
  flex-direction: column;
  margin-right: 2.4rem;
  width: 50%;

  .apiToken {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 4px;
    background-color: var(--gray-13);
    padding: 2.4rem;
    margin-bottom: 4.8rem;
    margin-top: 1.6rem;

    fieldset {
      display: flex;
      flex-wrap: nowrap;
      align-items: var(--text-align-center);
      justify-content: flex-start;
      width: 100%;
      padding: 0 1.2rem;
      font-size: var(--text-size-xs);
      line-height: var(--text-lh-s);
      border: none;
      color: var(--black-03);
      margin: 0 2.4rem 0 0;
      padding: 1rem 0;
    }
  }

  .apiRequest {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 4px;
    margin-bottom: 2.4rem;
    border: 0.5px solid var(--gray-10);
    width: 100%;
  }

  .cta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 14px;
    width: 100%;
    margin-bottom: unset;
    align-items: var(--text-align-center);
    justify-content: var(--text-align-center);
    padding: 1rem 0;
    border-left: 1px solid var(--app-sidebar-border-color);

    &-button button {
      cursor: pointer;
      font-size: var(--text-size-xs);
      font-weight: 700;
      padding: 1rem 1.6rem;
      border-radius: 4px;
      border: solid 2px var(--gray-04);
      color: var(--black-03);
      background-color: var(--white);
      
      &:hover {
        background-color: var(--gray-13);
      }
    }

    .title {
      font-weight: 700;
      font-size: var(--text-size-s);
      line-height: var(--text-lh-s);
      text-align: var(--text-align-center);
      color: var(--black-03);
      margin-bottom: 1.6rem;
    }
  }
}

.playgroundApiDocs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

[data-state~="playground.notselected_tokenEmpty"] .playgroundApiDocs,
[data-state~="playground.notselected_tokenFilled"] .playgroundApiDocs {
  display: none;
}

#content {
  display: block;
}

.btnAuthenticate {
  width: 11.8rem;
  height: 4.2rem;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: var(--red-01);
  font-size: var(--text-size-xs);
  line-height: var(--text-lh-s);
  color: var(--white);
}

.bold {
  font-weight: 700;
}

.playgroundBox {
  border-radius: 6px;
  border: none;
  padding: 2.4rem 2.4rem 8.2rem 2.4rem;
  margin-bottom: 4rem;
  position: relative;

  .playgroundConsole {
    width: 100%;

    .progress {
      margin: 0 auto;
    }
    pre .key {
      color: #f92672;
    }
    pre .string {
      color: #e6db74;
    }
    pre .number {
      color: #ae81ff;
    }
    pre.req,
    pre.res,
    pre.err {
      padding: 1.6rem;
      border: none;
      border-radius: 4px;
      background-color: var(--black-01);
      color: var(--copy-color);
      line-height: var(--text-lh-xxl);
      max-width: 100%;
      overflow: auto;
      white-space: pre-wrap;
      word-break: break-word;
      margin-bottom: 1.6rem;
    }
  }

  .inlineLabel {
    position: absolute;
    top: 1.7rem;
    left: 3rem;
    font-size: var(--text-size-xxxs);
    padding: 0.2rem 0.4rem;
  }

  .jsonBtnWrapper {
    display: flex;
    flex-direction: row;
    align-items: var(--text-align-center);
    justify-content: var(--text-align-center);
    margin: 2.6rem 0 4rem;

    .btnSubmit {
      background-color: var(--black-04);
      border: var(--gray-04) 2px solid;
      color: var(--white);
      font-weight: bold;
      font-size: var(--text-size-xs);
      line-height: var(--text-lh-s);
      padding: 0.8rem 1.6rem;
      margin: 0 0.8rem 0 0;
    }

    #playground-reset-btn {
      .btnReset {
        color: var(--white);
        font-weight: bold;
        font-size: var(--text-size-xs);
        line-height: var(--text-lh-s);
        background-color: var(--red-01);
        padding: 1rem 1.6rem;

        &:hover {
          background-color: rgba(255, 68, 79, 0.68);
        }
      }
    }
  }

  textarea {
    min-height: 20rem;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 4px;
    background-color: var(--black-01);
    color: var(--copy-color);
    resize: none;
  }
}

.playgroundReqSchema {
  margin-bottom: 1rem;
  position: relative;
}

.playgroundResSchema {
  margin: 1rem 0;
  position: relative;
}

.apiRequest {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 4px;
  margin-bottom: 2.4rem;
  border: 0.5px var(--gray-10);
}
.select2 {
  width: 100% !important;
  color: var(--gray-05);
  border: solid 1px var(--border-normal) !important;
  display: block;
  padding-left: 0.8rem;
  padding-right: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.8rem;
}
.selected {
  color: var(--black-03);
}
.option {
  border: none;
  border-radius: 3.5px !important;
  border: solid 1px var(--border-normal) !important;
  color: var(--gray-05) !important;
}

[data-state~="responsive.desktopLaptopM"] {
  .playground {
    .playgroundPageWrapper {
      display: flex;
      flex-direction: row;
    }
  }
  .apiToken {
    flex-direction: column-reverse;
  }
}

[data-state*="responsive.mobile"] {
  .headerTitle h1 {
    font-size: var(--text-size-l);
  }
  .playgroundApiJson {
    width: 100%;
  }
  .apiToken {
    flex-direction: column-reverse;
    fieldset {
      flex-wrap: nowrap;
    }
  }
  .cta {
    width: 100%;
    margin-bottom: 2.4rem;
  }
  .playgroundApiDocs {
    width: 100%;
  }
  .playgroundBox {
    .playgroundConsole {
      max-height: 40rem;
    }
    .inlineLabel {
      top: 1.6rem;
      left: 2.3rem;
    }
    textarea {
      font-size: var(--text-size-xs);
    }
  }
  .playgroundContent {
    margin-top: 8rem;
    width: 100%;
  }
  .playground {
    .playgroundPageWrapper {
      flex-direction: column;
    }
  }
}
