fieldset .customTextInput:last-child {
    margin-top: 1.5rem;
}

.customTextInput {
    align-items: center;
    border: 1px solid var(--border-normal);
    border-radius: 4px;
    display: flex;
    line-height: var(--text-lh-s);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    &:focus-within {
        border-color: var(--brand-secondary);
    }
    &:hover {
        border: 1px solid var(--app-registration-tab-secondary);
    }
    label {
        position: absolute;
        color: var(--app-registration-tab-secondary);
        left: 1.2rem;
        font-size: var(--text-size-xs);
        pointer-events: none;
        transform-origin: top left;
        transition: all 0.25s ease;
        white-space: nowrap;
    }
    input[type='text'],
    input[type='number'] {
        background: 0 0;
        box-sizing: border-box;
        color: var(--app-registration-tab-active-font);
        display: block;
        height: 4.0rem;
        min-width: 0;
        width: 100%;
        border: none;
        text-indent: 1.2rem;
        &:not(:placeholder-shown) ~ label {
            color: var(--app-registration-tab-active-font);
            background-color: var(--white);
            padding: 0 0.4rem;
            transform: translateY(-2rem) scale(0.75);
        }
        &:focus {
            outline: none;
            & ~ label {
                color: var(--brand-secondary);
                background-color: var(--white);
                padding: 0 0.4rem;
                transform: translateY(-2rem) scale(0.75);
            }
        }
    }
}

.frmNewApplication {
    display: flex;
    flex-direction: column;
    justify-content: var(--text-align-center);
    align-items: var(--text-align-center);
    width: 100%;
    .formContent {
        display: flex;
        flex-direction: column;
        align-items: var(--text-align-center);
        justify-content: var(--text-align-center);
        width: 80%;
        input[type='number'],
        input[type='text'] {
            height: 40px;
        }
        input[type='number'] {
            appearance: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        fieldset input[type='text'] {
            padding: 0;
            width: 100%;
            margin-bottom: 0 !important;
        }
        .helperText {
            width: 100%;
            padding-left: 1.2rem;
            font-size: var(--text-size-xxs);
            line-height: var(--text-lh-m);
            color: var(--gray-09);
            margin-bottom: 0;
        }
        .expandForm {
            width: 80%;
            left: 0;
            display: flex;
            padding: 4rem 0 1rem;

            .expandFormCheckbox {
                margin-right: 1.6rem;
                transform: scale(1.23);
                padding: 0.9rem;
                top: 0.1rem;
                position: relative;
            }
        }
        .expandableForm {
            width: 80%;
            fieldset {
                width: 100%;
            }
            .termsOfConditionRegister {
                margin-top: 3.5rem;
            }
            .scopes {
                margin-top: 4rem;
                .scopesField {
                    width: 96%;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 1.6rem;
                    align-items: var(--text-align-center);
                    justify-self: var(--text-align-center);
                }
            }
            .registerAppButtonContainer {
                display: flex;
                justify-content: var(--text-align-center);
                width: 100%;
                margin-top: 2.5rem;
                flex-wrap: wrap-reverse;
                gap: 1.6rem;
                button {
                    font-size: 1.6rem;
                }
            }
        }
        .formHeaderContainer {
            display: flex;
            padding: 1rem 0;
            margin-top: 1.5rem;
            flex-direction: column;
            .registerFormHeader {
                font-size: var(--text-size-s);
                margin-right: 0.5rem;
                line-height: var(--text-lh-xl);
                margin-bottom: 1.6rem;
            }
            .description {
                margin-bottom: 1.6rem;
            }
        }
    }
}

.scopeItem {
    border: 0.16rem solid #d6dadb;
    border-radius: 0.64rem;
    padding: 1.28rem 0.64rem;
}

[data-state~='registration.logged_in.register_tab.unfolded_form'] .expandableForm {
    display: flex;
    flex-direction: column;
}

[data-state~='registration.logged_in.update_mode'] .customTextInput .apiTokenInput[readonly] {
    color: var(--border-normal);
    cursor: not-allowed;
    & ~ label {
        color: var(--border-normal) !important;
    }
}

[data-state*='responsive.mobile'] {
    .formContent {
        width: 100%;
        .registerFormHeader {
            font-size: var(--text-size-s);
        }
    }
    .infoIcon:hover .tooltip {
        width: 14rem;
        transform: translate(-19%, calc(-100% - 10px));
    }
}

input[type='checkbox'] {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.customCheckboxContainer {
    position: relative;
    height: 1.1rem;
    min-width: 1.1rem;
    margin-right: 1.5rem;
    padding-top: 0.45rem;
    z-index: 0;
    margin-bottom: auto;
    .customCheckbox {
        position: absolute;
        background-image: url(/img/check.svg);
        background-repeat: no-repeat;
        display: inline-block;
        border: 2px solid var(--app-registration-tab-secondary);
        min-width: 1.1rem;
        height: 1.1rem;
        border-radius: 2px;
        transition: background-color 0.25s, border-color 0.25s;
        top: 3px;
        z-index: 1;
    }
    input:checked + .customCheckbox {
        background-color: var(--red-01);
        border-color: var(--red-01);
    }
}
