html,
body {
  overflow-x: hidden;
}

a {
  color: var(--red-01);
  text-decoration: none;

  &.active {
    background-color: var(--hamburger-active-link);
    font-weight: bold;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      height: 4rem;
      width: 0.4rem;
      border-radius: 4px 0 0 4px;
      left: 0;
      bottom: 0;
      background-color: var(--red-01);
      visibility: visible;
    }
  }
}

p {
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

li {
  font-size: var(--text-size-s);
  margin-top: 1.6rem;
}

ul {
  margin-left: 2rem;

  li {
    margin-bottom: 1.6rem;
  }
}

textarea {
  font-size: var(--text-size-s);
  resize: none;
  width: calc(100% - 1.6rem);
  min-height: 11.9rem;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px var(--border-normal);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 20.8rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.column-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.doc-content {
  display: flex;
  min-height: 95vh;
  overflow-y: auto;
}

.error-message {
  color: var(--red-01);
  font-size: var(--text-size-xs);
  font-weight: 400;
  padding-left: 1rem;
}

.language-json {

  .token.string,
  .token.number {
    color: var(--json-purple) !important;
  }

  .token.punctuation {
    color: var(--json-gold) !important;
  }

  .token.property {
    color: var(--json-magenta) !important;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-page-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;

  &.ways-row {
    padding: 0;
  }
}

.main-page-card {
  width: 100%;
  max-width: 31.6rem;
  padding: 3.2rem 2.4rem;
  border-radius: 4px;
  box-shadow: 0 0.4rem 0.8rem 0 rgb(14, 14, 14, 0.1);
  background-color: var(--white);
  margin: 0 1.2rem;

  .content {
    font-size: var(--text-size-s);
    line-height: 1.5;
    color: var(--text-01);
    margin-bottom: 0;
  }

  .hide-on-desktop {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }

  .header {
    display: flex;
    width: 100%;

    h3 {
      font-size: var(--text-size-m);
      font-weight: 700;
      color: var(--text-01);
      margin-bottom: 0.8rem;
      float: left;
      width: 100%;
    }

    img {
      float: right;
      padding-left: 1rem;
    }

  }
}

.numbered-list {
  margin-left: 4rem;
  margin-bottom: 2.4rem;

  li {
    margin-bottom: 1rem;
    list-style-type: decimal;
  }
}

.pageWrapper {
  width: 100%;
  color: var(--text-01);
  padding-bottom: 2rem;
  margin-left: 30rem;
}

.row-container {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.single-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;

  h1 {
    width: 80%;
    margin-bottom: 1.2rem;
    line-height: 1.25;
  }

  >h2 {
    font-size: var(--text-size-l);
    margin-bottom: 0.8rem;
    color: var(--white);
  }

  p {
    margin-bottom: 3.2rem;
    text-align: center;

    a {
      color: var(--red-01);
    }
  }

  img {
    margin-bottom: 2.4rem;
  }
}

.subheader {
  font-size: var(--text-size-m);
  text-align: center;
  line-height: 1.5;
  color: var(--text-01);
  margin-bottom: 4rem;
}

.gray {
  background-color: var(--blockquote-separator-color);
}

.white {
  background-color: var(--white);
}

.dark {
  color: var(--white);
  background-color: var(--black-01);

  p {
    color: var(--copy-color);
  }

  .selected,
  a {
    color: var(--white);
  }
}

[data-state*="responsive.mobile"] {
  .row-container {
    flex-direction: column;
  }

  .doc-content {
    padding: 7.5rem 1.5rem 4rem;
  }

  .main-content {
    .main-page-row {
      padding: 4rem 0;

      .card-container {
        flex-direction: column;
        padding: 2.4rem 1.6rem 0;
        margin-bottom: 0;

        .main-page-card {
          width: unset;
          margin: 0 0 2.4rem;
        }
      }

      .column-container h1 {
        margin-bottom: 0 !important;
      }

      .single-container {
        font-size: var(--text-size-m);

        .subheader {
          font-size: var(--text-size-s);
        }
      }

      .column-container,
      .row-container,
      .row-container .single-container {
        width: 100%;
      }
    }
  }

  .container {
    flex-direction: column;

    .row-container {
      width: 100%;

      .single-container {
        width: unset;
        padding: 4rem 1.6rem 0;
      }
    }
  }
}

[data-state*="responsive.desktop"] {
  .doc-content {
    padding: 12.8rem 5rem 0 5rem;
  }

  .main-content {

    .row-container {
      width: 100%;

      .single-container {
        width: unset;
        padding: 4rem 1.6rem 0;
      }
    }

    .main-page-row {
      .card-container {
        margin-bottom: 0;

        .main-page-card {
          width: unset;
          margin: 0 1.2rem 2.4rem;
        }
      }
    }
  }
}

[data-state~="responsive.mobileS"],
[data-state~="responsive.mobileM"] {

  .main-page-card {
    padding: 2.8rem 1.6rem 2.4rem;

    .hide-on-desktop {
      display: block;
    }

    .hide-on-mobile {
      display: none;
    }
  }
}

[data-state*="responsive.mobile"][data-state~="hamburger.hamburger_open"] {
  .sandbox-iframe {
    pointer-events: none;
  }
}
[data-state*="responsive.mobile"] {
  .next {
    right: -55px;
  }
  .prev {
    left: -55px;
  }
}
a.active {
  background-color: var(--hamburger-active-link);
  font-weight: bold;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 4px;
    border-radius: 4px 0 0 4px;
    left: 0;
    bottom: 0;
    background-color: var(--red-01);
    visibility: visible;
  }
}

[data-state*="responsive.mobile"] {
  .pageWrapper {
    margin-left: 0;
  }
}