.guideIcon,
.signUpIcon,
.registerYourAppIcon {
    width: 3.2rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.guideIcon {
    background-image: url(/img/guide.svg);
}

.signUpIcon {
    background-image: url(/img/sign-up.svg);
}

.registerYourAppIcon {
    background-image: url(/img/register-your-app.svg);
}