.token.comment {
    color: #75715e;
}

.operator-php{
    display:inline-block;
}

.token.keyword,
.token.operator,
.operator-php::first-letter,
.token.property.json{
    color: #f92672;
}

.token.operator.json{
    color:white;
}
.token.string {
    color: #e6db74;
}

.token.number {
    color: #ae81ff;
}

.storage-function{
    font-style: italic;
    color: #66d9ef !important;
}