.sidebarleft {
    display: flex;
    flex-direction: column;
    width: 270px;
    position: fixed;
    height: 100%;
    z-index: 10;
    background: white;
    border-right: 2px solid var(--gray-01);
    margin-right: 48px;
    top: 105px;
    .sidebarContainer {
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 200px);
    }
    a {
        position: relative;
        opacity: 0.72;
        margin: 5px 0;
        line-height: 1.88;
        color: var(--text-01);
        padding: 2px 16px 2px 16px;
        height: 44px;
        display: flex;
        align-items: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        &:empty {
            display: none;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 4px;
            height: 0;
            background-color: red;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:hover {
            background-color: rgb(240, 241, 243);

            &:before {
                visibility: visible;
                height: 100%;
                opacity: 1.5;
            }
        }
    }
    .selected {
        background-color: var(--gray-01);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        opacity: 1;

        &::before {
            visibility: visible;
            height: 100%;
        }
    }
}

.menuHeader {
    padding: 20px 0 10px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--text-01);
    border-top: 2px solid var(--gray-01);
}

.menuItem {
    width: 236px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    .selected {
        background-color: var(--gray-01);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        opacity: 1;

        &::before {
            visibility: visible;
            height: 100%;
        }
    }
}

.sidebartitle {
    margin: 24px 0 0 2px;
    padding-bottom: 10px;
    font-size: 32px;
    line-height: 1.25;
    color: var(--text-01);
    font-weight: bold;
    border-bottom: 2px solid var(--gray-01);
}

.dropdown {
    width: 236px;
    min-height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    .arrow {
        background-size: 22px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        background-image: url(/img/arrow_up.svg);
        transform: rotate(-180deg);
        transition: transform 0.2s;
        width: 22px;
        height: 22px;
        &.down {
            transform: rotate(0deg);
        }
    }

    .dropdownBtn {
        position: relative;
        height: 44px;
        opacity: 0.72;
        line-height: 1.88;
        color: var(--text-01);
        padding: 2px 16px 2px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
    }
    .boldText {
        font-weight: 700;
        color: var(--black-01);
    }
    .dropdownList {
        max-height: 700px;
        overflow: auto;
        a {
            padding: 2px 16px 2px 32px;
        }
        .dropdownContent {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: var(--text-01);
        }
        .selected {
            background-color: var(--gray-01);
            font-size: 16px;
            font-weight: bold;
            line-height: 1.88;
            opacity: 1;

            &::before {
                visibility: visible;
                height: 100%;
            }
        }
    }
}

[data-state*='responsive.mobile'] {
    .sidebarleft {
        display: none;
    }
    .dropdown {
        width: 236px;
        min-height: 24px;
        font-size: 14px;
        line-height: 24px;
        .dropdownBtn {
            opacity: unset;
            font-size: 14px;
            color: var(--text-01);
        }
        .dropdownList {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            padding-right: 16px;
            overflow: unset;
            gap: 16px;
            a {
                padding: 0;
                padding-left: 16px;
                text-indent: 16px;
                height: 40px;
                width: calc(100% - 22px);
                color: var(--text-01);
                display: flex;
                align-items: center;
                border-radius: 0px 4px 4px 0px;
                position: relative;
                font-size: 14px;
                &:before {
                    width: 4px;
                    margin-bottom: 2px;
                    border-radius: 4px 0 0 4px;
                }
            }
            .selected {
                background-color: var(--gray-15);
            }
        }
    }

    .menuBlock {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .menuItem {
            &.selected {
                background-color: var(--gray-01);
                font-weight: bold;
                line-height: 1.88;
                opacity: 1;
                &::before {
                    visibility: visible;
                    height: 100%;
                    width: 4px;
                    border-radius: 4px 0 0 4px;
                }
            }
            &[href~="/docs/"] {
                display: none;
            }
        }

        .menuHeader {
            padding: 20px 0 10px 0;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: var(--text-01);
            border-top: 2px solid var(--gray-01);
        }
    }
}

[data-state~='responsive.desktopLaptopM'] {
    .sidebarleft {
        padding: 0;
    }
}
